
*{text-decoration:none !important; outline:0 !important; list-style:none !important;}

body {color:#2b2a2a; background:#fff; font-family: Helvetica Neue, Segoe UI, sans-serif;}

a,a:hover {transition:0.6s all !important;}

.form-control:focus {box-shadow:0px 0px 5px #fed307 !important; border-color:#fed307;}


@font-face {
    font-family: 'Nunito-ExtraBold';
    src: url('../fonts/Nunito-ExtraBold.ttf'),
         url('../fonts/Nunito-ExtraBold.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Nunito-SemiBold';
    src: url('../fonts/Nunito-SemiBold.ttf'),
         url('../fonts/Nunito-SemiBold.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Nunito-Bold';
    src: url('../fonts/Nunito-Bold.ttf'),
         url('../fonts/Nunito-Bold.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Nunito-Regular';
    src: url('../fonts/Nunito-Regular.ttf'),
         url('../fonts/Nunito-Regular.ttf');
        font-weight: normal;
        font-style: normal;

}



.headercolor_addclass{
    display: inline-block;
    width: 100%;
    background: rgba(244,121,50,1);
    background: -moz-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(100%, rgba(237,36,113,1)));
    background: -webkit-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: linear-gradient(135deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47932', endColorstr='#ed2471', GradientType=1 );
}

.headercolor_addclass .admin_logobox{
    border-bottom: 0px solid #a7a9ab;
    padding-bottom: 16px;
}
.headercolor_addclass .logout_rightboxpart p {    
    color: #ffffff;    
}

.headercolor_addclass .logout_rightboxpart h4{
    color: #fff;
}

.headerback_btn{
    display: inline-block;
    width: 100%;
    padding-left: 24%;
    border-bottom: 0px solid #a7a9ab;
    padding-bottom: 20px;    
    padding-top: 11px;
}
.headerback_btn a{
    display: inline-block;
    color: #494949;
    font-family: 'Nunito-Bold';
    font-size: 20px;
}

/***PROFILE-ADMIN.CSS***/
.admintwopart_coverdiv{
    display: inline-block;
    width: 100%;
    background: url(../svg/bg-images.svg)top center no-repeat;
    background-size: 100%;
    float: left;
}
.adminleft_menupart{
    display: inline-block;
    width: 20%;
    float: left;
}
.admin_leftpenaldesign{
    display: inline-block;
    width: 100%;
    border-right: 1px solid #bcbec0;
    border-bottom: 1px solid #bcbec0;
    padding-left: 35px;
    padding-top: 64px;
    padding-bottom: 50px;
}

.admin_detalibox{
    display: inline-block;
    width: 100%;
}

.admin_imgboxpart{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    background: rgba(244,121,50,1);
    background: -moz-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(100%, rgba(237,36,113,1)));
    background: -webkit-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: linear-gradient(135deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47932', endColorstr='#ed2471', GradientType=1 );
}

.adminname_textleft{
    display: inline-block;
    width: 100%;
}
.adminname_textleft h4{
    color: #231f20;
    font-family: 'Nunito-SemiBold';
    font-size: 20px;
    display: inline-block;
}
.adminname_textleft p{
    color: #b5b5b5;
    font-size: 17px;
    font-family: 'Nunito-SemiBold';
}
.adminname_textleft span{
    background: #ef4656;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    float: right;
    margin-top: 20px;
    margin-right: 76px;
}
.adminpagename_detalis ul li.active a{
    color: #231f20;
    position: relative;
}

.adminpagename_detalis ul li.active a:before {
    content: '';
    position: absolute;    
    left: 229px;
    width: 5px;
    height: 39px;
    top: 6px;
    background-size: 0;
    background: rgba(244,121,50,1);
    background: -moz-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(100%, rgba(237,36,113,1)));
    background: -webkit-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: linear-gradient(135deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47932', endColorstr='#ed2471', GradientType=1 );
} 

.adminpagename_detalis{
    display: inline-block;
    width: 100%;
    margin-top: 25px;
}
.adminpagename_detalis ul{
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 100%;
}
.adminpagename_detalis ul li{
    display: inline-block;
    width: 100%;
}

.adminpagename_detalis ul li a{
    display: inline-block;
    width: 100%;
    color: #b5b5b6;
    font-family: 'Nunito-SemiBold';
    font-size: 19px;
    padding-top: 12px;
    padding-bottom: 25px;
    padding-right: 24px;
}


/***PROFILE-ADMIN.CSS***/


.adminright_detailspart{
    display: inline-block;
    width: 80%;
    float: left;    
}
.admininner_detalispart{
    display: inline-block;
    width: 100%;
    padding-left: 49px;
    padding-top: 48px;
    padding-right: 46px;
    padding-right: 120px;
}
.profile_oneboxpart{
    display: inline-block;
    width: 100%;    
    border: 1px solid #bbbdc0;
    border-radius: 10px;
    background: #fff;
    padding-left: 40px;
    padding-right: 60px;
    padding-bottom: 25px;
    margin-bottom: 50px;
}
.edit_btnboxpart{
    display: inline-block;
    width: 100%;
    float: right;
    padding-top: 30px;
    padding-bottom: 50px;    
}
.edit_btnboxpart a{
    display: inline-block;
    font-family: 'Nunito-Bold';
    font-size: 18px;
    color: #494949;
    float: right;
    padding-left: 20px;
}
.inputedetails_coverdiv{
    display: inline-block;
    width: 90%;
}
.firstinput_boxpart{
    display: inline-block;
    width: 50%;
    float: left;
    padding-right: 40px;
}
.firstinput_boxpart input{
    width: 100%;
    border: 0px solid;
    border-bottom: 2px solid #bbbdc0;
    background: inherit;
    color: #494949;
    font-family: 'Nunito-SemiBold';
    font-size: 19px;
    padding-bottom: 7px;   
}
.firstinput_boxpart p{
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    font-size: 11px;
    margin: 0px;
    padding-bottom: 0px;
}
.lastdetails_boxpart{
    display: inline-block;
    width: 50%;
    float: left;
    padding-left: 40px;
}
.lastdetails_boxpart input{
    width: 100%;
    border: 0px solid;
    border-bottom: 2px solid #bbbdc0;
    background: inherit;
    color: #494949;
    font-family: 'Nunito-SemiBold';
    font-size: 19px;
    padding-bottom: 7px;
}
.lastdetails_boxpart p{
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    font-size: 11px;
    margin: 0px;
    padding-bottom: 0px;
}
.Malefemale_rediobtn{
    display: inline-block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
}
.redio_buttenboxpart{
    display: inline-block;
    width: 100%;
}

.redio_buttenboxpart ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
}

.redio_buttenboxpart ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 13%;
    height: 47px;
}
.redio_buttenboxpart .checkbox_set {
    position: relative;
}

.redio_buttenboxpart .checkbox_set input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.redio_buttenboxpart input {
    width: 100%;
    outline: 0px;
}
.redio_buttenboxpart input[type=radio]:checked ~ label {
    color: #231f20;
}
.redio_buttenboxpart ul li label {
    color: #d1d2d4;
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 6px 20px 20px 44px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    display: inline-block;
    height: auto;
    padding-bottom: 0px;
    font-family: 'Nunito-SemiBold';
}

.redio_buttenboxpart input[type=radio]:checked ~ .check {
    border: 0 !important;
    background: rgba(244,121,50,1);
    background: -moz-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(100%, rgba(237,36,113,1)));
    background: -webkit-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: linear-gradient(135deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47932', endColorstr='#ed2471', GradientType=1 );
}

.redio_buttenboxpart .checkbox_set .check {
    display: block;
    position: absolute;
    border: 2px solid #d1d2d4;
    border-radius: 100%;
    height: 27px;
    width: 27px;
    top: 18px;
    left: 0px;
    z-index: 5;
}

.redio_buttenboxpart input[type=radio]:checked ~ .check::before {
    /* background: #0DFF92; */
    background: url(../images/right-icon.png) no-repeat;
    background-size: 100%;
}
.redio_buttenboxpart ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 6px;
    left: 5px;
    margin: auto;
}

.datepikar_boxpart{
    display: inline-block;
    width: 50%;
}
.datepikar_boxpart input{
    width: 100%;
    border: 0px solid;
    border-bottom: 2px solid #bbbdc0;
    background: inherit;
    color: #494949;
    font-family: 'Nunito-SemiBold';
    font-size: 19px;
}
.datepikar_boxpart p{
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    font-size: 13px;
    margin: 0px;
    padding-bottom: 5px;
}

.emailaddress_leftbox{
    display: inline-block;
    width: 50%;
    float: left;
}

.emailaddress_leftbox .firstinput_boxpart {
    display: inline-block;
    width: 100%;
    float: left;
    padding-right: 40px;
}

.emailaddress_leftbox .inputedetails_coverdiv {    
    padding-bottom: 50px;
}

.verifiedrediobtn_rightpart{
    display: inline-block;
    width: 50%;
    float: left;
}

.verifiedrediobtn_rightpart .redio_buttenboxpart ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 44%;
    height: 47px;
}

.verifiedrediobtn_rightpart .redio_buttenboxpart {
    display: inline-block;
    width: 100%;
    padding-bottom: 60px;
}
.subscribedfor_checkbox{
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
}
.subscribedfor_checkbox .newcheckbox {
    display: block;
    position: relative;
    padding-left: 39px;
    color: #494949;
    font-family: 'Nunito-SemiBold';
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.subscribedfor_checkbox .newcheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.subscribedfor_checkbox .newcheckbox input:checked ~ .checkmark {
    margin-top: 0px;
    background: rgba(244,121,50,1);
    background: -moz-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(100%, rgba(237,36,113,1)));
    background: -webkit-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: linear-gradient(135deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47932', endColorstr='#ed2471', GradientType=1 );
    border-radius: 4px;
    border: 0;
}
.subscribedfor_checkbox .checkmark {
    position: absolute;
    margin-top: 0px;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 2px solid #d1d2d4;
    background-color: #fff;
    border-radius: 5px !important;
}
.subscribedfor_checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 27px;
    width: 27px;
    border: 2px solid #d1d2d4;
    background-color: #fff;
    border-radius: 5px !important;
}

.subscribedfor_checkbox .newcheckbox input:checked ~ .checkmark:after {
    display: block;
}

.subscribedfor_checkbox .newcheckbox .checkmark:after {
    left: 9px;
    top: 4px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.subscribedfor_checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.setmarginbottom{
    margin-bottom: 34px;
}

.redio_buttenboxpart ul.eligbletowork li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 31%;
    height: 47px;
}

ul.eligbletowork{
    padding-top: 24px;
}


.registered_manbox{
    display: inline-block;
    width: 100%;
    border: 1px solid #bbbdc0;
    border-radius: 10px;
    background: #fff;
    padding-left: 40px;
    padding-right: 60px;
    padding-bottom: 25px;
    padding-top: 30px;
}
.manexperties_yearsmonths{
    display: inline-block;
    width: 100%;
}
.experties_ckeckboxpart{
    display: inline-block;
    width: 100%;
}
.experties_ckeckboxpart p{
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    margin: 0px;
    padding-bottom: 40px;
    font-size: 16px;
}
.experties_ckeckboxpart ul{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.experties_ckeckboxpart ul li{
    display: inline-block;
    width: 33.33%;
    float: left;
}
.textarea_boxpart{
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}
.textarea_boxpart textarea{
    width: 100%;
    border: 1px solid #bbbdc0;
    border-radius: 10px;
    height: 250px;
    padding-top: 10px;
    padding-left: 20px;
    color: #494949;
    font-family: 'Nunito-SemiBold';
    font-size: 19px;
}
.textarea_boxpart p{
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    padding-bottom: 15px;
    display: inline-block;
}

.textarea_boxpart h4{
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    padding-bottom: 15px;
    font-size: 15px;
    text-align: right;
    display: inline-block;
    float: right;
    margin-top: 0px;
}

.experties_yearsmonths{
    display: inline-block;
    width: 33%;
    float: left;
}
.experties_yearsmonths p{
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    margin: 0px;
    font-size: 16px;
    padding-bottom: 33px;
}
.experties_yearsmonths select{
    border: 0px;
    border-bottom: 2px solid #bbbdc0;
    width: 146px;
    float:left;
    margin-right: 12px;
    font-family: 'Nunito-SemiBold';
    padding-bottom: 8px;
    font-size: 19px;
    padding-left: 60px;    
}
.experties_yearsmonths h4{
    margin: 0px;
    color: #494949;
    font-size: 20px;
    font-family: 'Nunito-SemiBold';
}
.textsetcertifactes_boxpart{
    display: inline-block;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 40px;
}
.experties_yearsmonths2{
    display: inline-block;
    width: 30%;
    float: left;
    padding-top: 54px;
}
.experties_yearsmonths2 select{
    border: 0px;
    border-bottom: 2px solid #bbbdc0;
    width: 146px;
    float:left;
    margin-right: 12px;
    font-family: 'Nunito-SemiBold';
    padding-bottom: 8px;
    font-size: 19px;
    padding-left: 60px;    
}
.experties_yearsmonths2 h4{
    margin: 0px;
    color: #494949;
    font-size: 20px;
    font-family: 'Nunito-SemiBold';
}
.certifactes_inputboxpart{
    display: inline-block;
    width: 100%;
    padding-bottom: 25px;
}
.certifactes_inputboxpart p{
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    margin: 0px;
    padding-bottom: 30px;
    font-size: 16px;
}
.certifactes_inputboxpart input{
    border: 1px solid #a7a9ab;
    width: 26%;
    color: #494949;
    font-family: 'Nunito-SemiBold';
    font-size: 19px;
    height: 36px;
    border-radius: 5px;
    padding-left: 8px;
}
.certifactes_inputboxpart img{
    width: 25px;
    margin-bottom: 13px;
    margin-left: 14px;
}

.ratforpackages_boxpart{
    display: inline-block;
    width: 100%;
}
.ratforpackages_boxpart p{
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    margin: 0px;    
    font-size: 16px;
    padding-bottom: 40px;
}
.ratforpackages_boxpart ul{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.ratforpackages_boxpart ul li{
    display: inline-block;
    width: 25%;
    float: left;
}
.hourstime_box{
    display: inline-block;
    width: 80px;
    height: 84px;
    border: 1px solid #bbbdc0;
    border-radius: 10px;
    text-align: center;
    padding-top: 6px;
}

.hourstime_box h3{
    color: #494949;
    margin:0px;
    font-family: 'Nunito-Bold';
    font-size: 36px;
    padding-bottom: 10px;
}
.hourstime_box h4{
    color: #b5b5b5;
    margin:0px;
    font-size: 11px;
    padding-bottom: 29px;
    font-family: 'Nunito-Bold';
}

.hourstime_box span{
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
}
.timeinput_buttenset{
    display: inline-block;
    width: 100%;
    padding-top: 19px;
}
.timeinput_buttenset h4{
    float: left;
    margin: 0px;
    font-size: 19px;
    color: #494949;
    padding-top: 6px;
    font-family: 'Nunito-SemiBold';
}
.timeinput_buttenset input{
    border: 0px;
    border-bottom: 2px solid #bbbdc0;
    width: 66px;
    float: left;
    padding-left: 5px;
    color: #494949;
    font-family: 'Nunito-SemiBold';
    font-size: 19px;
    padding-bottom: 0px;
}
.timeinput_buttenset h3{
    margin: 0px;
    font-size: 15px;
    color: #494949;
    float: left;
    padding-top: 6px;
    font-family: 'Nunito-SemiBold';    
}

.currency_detilspart{
    display: inline-block;
    width: 100%;
    padding-top: 51px;
}
.currency_detilspart p{
    margin: 0px;
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    font-size: 16px;
    padding-bottom: 15px;
}

.currency_detilspart h3{
    margin: 0px;
    color: #494949;
    font-family: 'Nunito-Bold';
    font-size: 16px;
    padding-bottom: 48px;
}
hr.towpart_innerbox{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #bbbdc0;
}
.allowadditional_btnbox{
    display: inline-block;
    width: 100%;
    padding-top: 15px;
}
.allowadditional_btnbox p{
    margin: 0px;
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    padding-bottom: 20px;
    font-size: 16px;
}

.allowadditional_btnbox ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin-bottom: 50px;
}
.allowadditional_btnbox ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 13%;
    height: 47px;
}
.allowadditional_btnbox .checkbox_set {
    position: relative;
}

.allowadditional_btnbox .checkbox_set input[type=radio] {
    position: absolute;
    visibility: hidden;
}

.allowadditional_btnbox input[type=radio]:checked ~ label {
    color: #231f20;
    border: solid 2px transparent;
    border-left-color: #f06743;
    background-image: linear-gradient(white, white), linear-gradient(90deg, #f06743 18%, #ee3667 61%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-size: 100% 100%, 100% 100%;
    background-position: center center, center bottom;
    background-repeat: no-repeat;
}
.allowadditional_btnbox ul li label {
    color: #494949;
    display: block;
    position: relative;
    background: #ffffff;
    font-size: 16px;    
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    display: inline-block;
    height: auto;
    font-family: 'Nunito-SemiBold';
    border-radius: 7px;
    border: solid 2px #a7a9ab;
    width: 90px;
    height: 33px;
    text-align: center;
}

.allowadditional_btnbox input[type=radio]:checked ~ .check {
    border: 0px;
}

.allowadditional_btnbox .checkbox_set .check {
    display: block;
    position: absolute;
    border: 0px;
}

.allowadditional_btnbox ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 18px;
    width: 18px;
    top: 8px;
    left: 7px;
    margin: auto;
}


.rateforadditonal_rediobtn{
    display: inline-block;
    width: 100%;
}
.rateforadditonal_rediobtn p{
    margin: 0px;
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    padding-bottom: 20px;
    font-size: 16px;
}





.rateforadditonal_rediobtn .wrapper {  
  padding: 0;
  margin: 0 auto;
  margin: 0px;
}

.rateforadditonal_rediobtn .radio,
.rateforadditonal_rediobtn .radio__label,
.rateforadditonal_rediobtn .radio__label:after,
.rateforadditonal_rediobtn .radio__label:before {
  box-sizing: border-box;
}



.rateforadditonal_rediobtn .radio__container .radio-inline {
    display: inline-block;
    margin-right: 0;
    width: 100%;
    padding: 0px;
    margin-left: 0px;
}
.rateforadditonal_rediobtn .radio__container .radio {
  display: inline;
  opacity: 0;
  width: 0;
  margin: 0;
  overflow: hidden;
  -webkit-appearance: none;
}
.rateforadditonal_rediobtn .radio__container .radio__label {
    display: inline-block;
    height: 50px;
    position: relative;
    padding: 11px 10px 15px 32px;
    cursor: pointer;
    vertical-align: bottom;
    color: #a7a9ab;    
    transition: color 200ms ease;
    font-family: 'Nunito-SemiBold';
    font-size: 17px;
    margin-bottom: 0px;
}
.rateforadditonal_rediobtn .radio__container .radio__label:before, .radio__container .radio__label:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  transition: border-color 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, border-color 200ms ease;
  transition: transform 200ms ease, border-color 200ms ease, -webkit-transform 200ms ease;
}
.rateforadditonal_rediobtn .radio__container .radio__label:before {
  left: 0;
  top: 15px;
  width: 20px;
  height: 20px;
  border: 2px solid #dbdbdb;
}
.rateforadditonal_rediobtn .radio__container .radio__label:after {
    top: 20px;
    left: 5px;
    width: 10px;
    height: 10px;
    -webkit-transform: scale(0);
    transform: scale(0);
    background: rgba(244,121,50,1);
    background: -moz-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(100%, rgba(237,36,113,1)));
    background: -webkit-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: linear-gradient(135deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47932', endColorstr='#ed2471', GradientType=1 );
}

.rateforadditonal_rediobtn .radio__container .radio:checked + .radio__label {
    color: #494949;
}
.rateforadditonal_rediobtn .radio__container .radio:checked + .radio__label:before {
    border-color: rgba(244,121,50,1);
}
.rateforadditonal_rediobtn .radio__container .radio:checked + .radio__label:after {
    -webkit-transform: scale(1);
    transform: scale(1);
}


.addpolicy_textarea{
    display: inline-block;
    width: 100%;
}

.addpolicy_textarea .textarea_boxpart textarea {
    width: 100%;
    border: 1px solid #bbbdc0;
    border-radius: 10px;
    height: 169px;
    padding-top: 10px;
    padding-left: 20px;
    color: #494949;
    font-family: 'Nunito-SemiBold';
    font-size: 19px;
}

.addpolicy_textarea .textarea_boxpart {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}


.availbilty_checkboxpart{
    display: inline-block;
    width: 100%;
}
.availbilty_checkboxpart p{
    margin: 0px;
    font-family: 'Nunito-SemiBold';
    font-size: 15px;
}
.availbilty_checkboxpart h3{
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    margin: 0px;    
    font-size: 16px;
    padding-bottom: 33px;
}
.availbilty_checkboxpart ul{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-top: 16px;
    padding-bottom: 13px;
}
.availbilty_checkboxpart ul li{
    display: inline-block;
    width: 10%;
    float: left;
}

.availbilty_checkboxpart .subscribedfor_checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    border: 2px solid #d1d2d4;
    background-color: #fff;
    border-radius: 5px !important;
}

.availbilty_checkboxpart .newcheckbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.availbilty_checkboxpart .subscribedfor_checkbox .newcheckbox {
    display: block;
    position: relative;
    padding-left: 30px;
    color: #494949;
    font-family: 'Nunito-SemiBold';
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.provideservice_detils{
    display: inline-block;
    width: 100%;
    padding-bottom: 32px;
}
.provideservice_detils p{
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    margin: 0px;
    font-size: 16px;
}
.widthlocation_inputebox{
    display: inline-block;
    width: 100%;
    padding-bottom: 14px;
}
.widthlocation_inputebox input{
    border: 0px;
    border-bottom: 2px solid #bbbdc0;
    width: 66px;
    float: left;
    padding-left: 5px;
    color: #494949;
    font-family: 'Nunito-SemiBold';
    font-size: 19px;
    padding-bottom: 0px;
}
.widthlocation_inputebox p{
    margin: 0px;
    color: #494949;
    font-family: 'Nunito-SemiBold';
    font-size: 15px;
    float: left;
    padding-top: 10px;    
    padding-right: 10px;
}
.widthlocation_inputebox h4{
    margin: 0px;
    color: #494949;
    font-family: 'Nunito-SemiBold';
    font-size: 15px;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

.addgymdetalis_sessionsbox{
    display: inline-block;
    width: 100%;
}
.addgymdetalis_sessionsbox h3{
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    margin: 0px;
    font-size: 16px;
    padding-bottom: 50px;
}
.membership_detilsbox{
    display: inline-block;
    width: 100%;
}
.membership_detilsbox p{
    color: #494949;
    font-family: 'Nunito-SemiBold';
    margin: 0px;
    font-size: 17px;
}
.membership_detilsbox .allowadditional_btnbox ul {
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin-bottom: 25px;
}


.packesinclude_boxpart{
    display: inline-block;
    width: 100%;
    padding-top: 30px;
}
.packesinclude_boxpart p{
    color: #494949;
    font-family: 'Nunito-SemiBold';
    margin: 0px;
    font-size: 17px;
    padding-bottom: 15px;
}

.place_detilsboxpart{
    display: inline-block;
    width: 100%;
    padding-top: 42px;
    padding-bottom: 25px;
}
.place_detilsboxpart h3{
    color: #494949;
    font-family: 'Nunito-SemiBold';
    margin: 0px;
    font-size: 17px;
    padding-bottom: 17px;
}

.place_detilsboxpart .widthlocation_inputebox p {
    margin: 0px;
    color: #494949;
    font-family: 'Nunito-SemiBold';
    font-size: 21px;
    float: left;
    padding-top: 0;
    padding-right: 10px;
}
.deletelocation_btnbox{
    display: inline-block;
    width: 100%;
    padding-top: 16px;
}
.deletelocation_btnbox a{
    display: inline-block;
    color: #fff;
    background: #231f20;
    padding: 5px 17px 9px 17px;
    font-family: 'Nunito-SemiBold';
    font-size: 15px;
    border-radius: 5px;
}

.addlocation_btnbox{
    display: inline-block;
    width: 100%;
}
.addlocation_btnbox a{
    display: inline-block;
    color: #494949;
    background: #fff;
    padding: 5px 17px 9px 17px;
    font-family: 'Nunito-SemiBold';
    font-size: 15px;
    border-radius: 5px;
    border: solid 2px transparent;
    border-left-color: #f06743;
    background-image: linear-gradient(white, white), linear-gradient(90deg, #f06743 18%, #ee3667 61%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-size: 100% 100%, 100% 100%;
    background-position: center center, center bottom;
    background-repeat: no-repeat;
}


.addphoto_btn{
    display: inline-block;
    width: 100%;
}
.addphoto_btn p{
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    margin: 0px;
    font-size: 16px;
    padding-bottom: 25px;
}

.addphoto_btn a{
    display: inline-block;
    color: #494949;
    background: #fff;
    margin-right: 20px;
    padding: 2px 23px 6px 23px;
    font-family: 'Nunito-SemiBold';
    font-size: 15px;
    border-radius: 5px;
    border: solid 2px transparent;
    border-left-color: #f06743;
    background-image: linear-gradient(white, white), linear-gradient(90deg, #f06743 18%, #ee3667 61%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-size: 100% 100%, 100% 100%;
    background-position: center center, center bottom;
    background-repeat: no-repeat;
}
   
















/* media queries */
@media (max-width: 1200px){
	
}
@media (max-width: 1199px){	
	
}
@media (max-width: 991px){
	
}
@media (max-width: 767px){

}
@media (max-width: 479px){
	
}
@media (max-width: 360px){
	
}
@media (max-width: 320px){
	
}
/* media queries */











