
*{text-decoration:none !important; outline:0 !important; list-style:none !important;}

body {color:#2b2a2a; background:#fff; font-family: Helvetica Neue, Segoe UI, sans-serif;}

a,a:hover {transition:0.6s all !important;}

.form-control:focus {box-shadow:0px 0px 5px #fed307 !important; border-color:#fed307;}


@font-face {
    font-family: 'Nunito-ExtraBold';
    src: url('../fonts/Rubik-Black.ttf'),
         url('../fonts/Rubik-Black.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Nunito-SemiBold';
    src: url('../fonts/Rubik-Medium.ttf'),
         url('../fonts/Rubik-Medium.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Nunito-Bold';
    src: url('../fonts/Rubik-Bold.ttf'),
         url('../fonts/Rubik-Bold.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Rubik-Regular';
    src: url('../fonts/Rubik-Regular.ttf'),
         url('../fonts/Rubik-Regular.ttf');
        font-weight: normal;
        font-style: normal;

}
@font-face {
    font-family: 'Rubik-Medium';
    src: url('../fonts/Rubik-Medium.ttf'),
         url('../fonts/Rubik-Medium.ttf');
        font-weight: normal;
        font-style: normal;

}

/*login css*/
.signupparent_divbox {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}

.signup_innerbox {
    width: 35%;
}
.signup_innerbox {
    display: inline-block;
    width: 38%;
}

.login_toplogobox {
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
}

.logindetail_inputbox {
    display: inline-block;
    width: 100%;
    float: left;
    padding-bottom: 15px;
}

.customcheck {
    display: inline-block;
    width: 100%;
}

.signbtn_box {
    display: inline-block;
    width: 100%;
    margin-top: 24px;
}
.logindetail_inputbox input{
  font-family: 'Rubik-Regular';
}
.logindetail_inputbox p {
    margin: 0px;
    font-size: 14px;
    color: #878787;
    padding-bottom: 7px;
    text-align: left;
    display: inline-block;
    float: left;
    font-family: 'Rubik-Regular';
}

.signbtn_box button {
    color: #fff;
    border: 0px;
    border-radius: 20px;
    font-family: 'Rubik-Regular';
    font-size: 15px;
    padding: 9px 17px 9px 17px;
    background: linear-gradient(to right, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
}
.customcheck {
    display: inline-block;
    width: 100%;
}
.checkcontainer {
    font-weight: normal;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    font-family: 'Rubik-Regular';
    display: inline-block;
    float: left;
}
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
}
.login_toplogobox h3 {
    margin: 0px;
    font-size: 24px;
    font-family: 'Rubik-Medium';
    color: rgba(244,121,50,1);
    padding-top: 18px;
}
.login_toplogobox p {
    margin: 0px;
    font-size: 15px;
    font-family: 'Rubik-Regular';
    color: rgba(244,121,50,1);
    padding-top: 7px;
}
.login_toplogobox img {
    width: 135px;
}

header{
    height: auto;
    position: relative;
    width: 100%;
    z-index: 9;
    background: #fff;
}
.admin_logobox{
    background: rgba(244,121,50,1);
    background: -moz-linear-gradient(left, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(244,121,50,1)), color-stop(100%, rgba(237,36,113,1)));
    background: -webkit-linear-gradient(left, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -o-linear-gradient(left, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -ms-linear-gradient(left, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: linear-gradient(to right, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47932', endColorstr='#ed2471', GradientType=1 );

    display: inline-block;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    border-bottom: 1px solid #ECEEF0;
}

.leftlogo_part{
    display: inline-block;
    width: 50%;
    float: left;
}
.leftlogo_part img{
    width: 132px;
}
.logout_rightboxpart{
    display: inline-block;
    width: 50%;
    float: left;
    text-align: right;
}
.logout_rightboxpart h4{
    margin: 0px;
    font-family: 'Rubik-Regular';
    font-size: 16px;
    color: #b5b5b5;
    display: inline-block;
    padding-left: 19px;   
}
.logout_rightboxpart p{
    margin: 0px;
    font-family: 'Rubik-Regular';
    font-size: 16px;
    color: #b5b5b5;
    display: inline-block;    
}
.logout_rightboxpart a{
    display: inline-block;    
    padding-top: 5px;
}
.logout_rightboxpart a img{
    width: 25px;
}
.twopart_coverdivpart{
    display: inline-block;
    width: 100%;
}
.leftmenu_boxs{
    display: inline-block;
    width: 20%;
    float: left;
    border-right: 1px solid #ECEEF0;
    border-bottom: 0;
    position: absolute;
    background: #fff;
    top: 64px;
    height: 100%;
    left: 0;
}
.menuinnerbox_part{
    display: inline-block;
    width: 100%;
}
.menuinnerbox_part ul{
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
}
.menuinnerbox_part ul li{
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 7px 15px;
}
.menuinnerbox_part ul li a{
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: #000;
    font-family: 'circular-pro-book';
}
.menuinnerbox_part ul li.active{
    background: rgba(244,121,50,1);
    background: -moz-linear-gradient(left, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(244,121,50,1)), color-stop(100%, rgba(237,36,113,1)));
    background: -webkit-linear-gradient(left, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -o-linear-gradient(left, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -ms-linear-gradient(left, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: linear-gradient(to right, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47932', endColorstr='#ed2471', GradientType=1 );
    border-radius: 0px 35px 35px 0px;
}
.menuinnerbox_part ul li.active a span{
    color: #ffffff !important;
}


.menuinnerbox_part ul li a img{
    float: left;
    display: inline-block;
    padding-top: 8px;
    padding-left: 22px;
    width: 72px;
}
.menuinnerbox_part ul li a span{
    float: left;
    display: inline-block;
    padding-top: 8px;
    padding-left: 22px;
}

.right_detailspartboxs{
    display: inline-block;
    width: 80%;
    float: right;
    margin-top: 0;
}
.menualldetails_partsright{
    display: inline-block;
    width: 100%;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 55px;
}

.questions_boxpart{
    display: inline-block;
    width: 28%;
    float: left;
    margin-right: 52px;
    border: 1px solid #bbbdc0;
    border-radius: 8px;
    padding-left: 22px;
    padding-top: 22px;
    padding-bottom: 30px;
}

.questions_boxpart h3{
    margin: 0px;
    color: #57bd89;
    font-size: 18px;
    padding-bottom: 16px;
    font-family: 'Nunito-ExtraBold';
}
.questions_boxpart p{
    margin: 0px;
    font-family: 'Nunito-ExtraBold';
    font-size: 33px;
    color: #6A7284;
}


.questions_boxpart2{
    display: inline-block;
    width: 28%;
    float: left;
    margin-right: 132px;
    border: 1px solid #bbbdc0;
    border-radius: 8px;
    padding-left: 22px;
    padding-top: 22px;
    padding-bottom: 30px;
}

.questions_boxpart2 h3{
    margin: 0px;
    color: #57bd89;
    font-size: 18px;
    padding-bottom: 16px;
    font-family: 'Nunito-ExtraBold';
}
.questions_boxpart2 p{
    margin: 0px;
    font-family: 'Nunito-ExtraBold';
    font-size: 33px;
    color: #6A7284;
}
.pluse_rightbox{
    display: inline-block;
    width: 12%;
    border-radius: 8px;
    height: 135px;
    text-align: center;
    background: rgba(244,121,50,1);
    background: -moz-linear-gradient(top, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(100%, rgba(237,36,113,1)));
    background: -webkit-linear-gradient(top, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -o-linear-gradient(top, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -ms-linear-gradient(top, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: linear-gradient(to bottom, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47932', endColorstr='#ed2471', GradientType=0 );
}

.pluse_rightbox img{
    padding-top: 52px;
    width: 33px;
}


/***PAGE-2.CSS****/

.selectcategory_boxpart{
    display: inline-block;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
}
.addquestionnair_boxpart{
    display: inline-block;
    width: 100%;
    padding-bottom: 45px;
}
.addquestionnair_boxpart h3{
    margin: 0px;
    font-family: 'Nunito-ExtraBold';
    font-size: 29px;
    display: inline-block;
}
.addquestionnair_boxpart a{
    display: inline-block;
    float: right;
    border: 1px solid #bbbdc0;
    color: #6A7284;
    padding: 3px 18px 9px 17px;
    font-family: 'Nunito-Bold';
    font-size: 20px;
    border-radius: 7px;
}
.addquestionnair_boxpart img{
    width: 45px;
    float: right;
    margin-right: 35px;
}
.setbtnboxpart{
    display: inline-block;
    float: right;
}
.setbtnboxpart a {    
    display: inline-block;
    float: right;
    border: 0px solid #bbbdc0;    
    padding: 0px 0px 0px 0px;
    font-family: 'Nunito-Bold';
    font-size: 0px;
    border-radius: 0px;
}

.select_towboxpart .styled-select {
    border: 2px solid #d1d2d4;
    box-sizing: border-box;
    border-radius: 6px;
    overflow: hidden;
    position: relative;    
    margin-bottom: 50px;
}
.select_towboxpart .styled-select, .styled-select select {
    width: 395px;
}
.select_towboxpart select:focus { outline: none; }
.select_towboxpart .styled-select select {
    height: 45px;
    color: #d1d2d4;
    padding: 5px 0 11px 17px;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    font-family: 'Nunito-Bold';
    font-size: 18px;
    cursor: pointer;
}


.select_towboxpart .fa-sort-desc {
    position: absolute;
    top: -1px;
    right: 12px;
    font-size: 33px;
    color: #d1d2d4;
}
.nextbutten_box{
    display: inline-block;
    width: 100%;
    margin-top: 60px;
}
.nextbutten_box a{
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    font-size: 19px;
    padding: 3px 27px 7px 27px;
    font-family: 'Nunito-ExtraBold';
    background: rgba(244,121,50,1);
    background: -moz-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(100%, rgba(237,36,113,1)));
    background: -webkit-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: linear-gradient(135deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47932', endColorstr='#ed2471', GradientType=1 );
}

/***PAGE-2.CSS****/

/***PAGE-3.CSS***/

.question_detalistextbox{
    display: inline-block;
    width: 100%;
}
.publish_innerdetali{
    display: inline-block;
    width: 100%;
}
.publish_innerdetali p{
    margin: 0px;
    display: inline-block;
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    font-size: 18px;    
    margin-right: 24px;
}
.status_published{
    display: inline-block;
    width: 100%;
    padding-top: 18px;
}
.status_published p{
    margin: 0px;    
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    font-size: 18px;
    margin-right: 17px;
}
.status_published span{
    color: #58585b;
}
.lastupdated_textbox{
    display: inline-block;
    width: 100%;
    padding-top: 18px;
}
.lastupdated_textbox p{
    margin: 0px;    
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    font-size: 18px;
    margin-right: 17px;
    display: inline-block;
}
.lastupdated_textbox span{
    color: #58585b;
}
.lastupdated_textbox h4{
     margin: 0px;    
    color: #57bd89;    
    font-family: 'Nunito-ExtraBold';
    font-size: 18px;
    margin-right: 17px;
    float: right;
    display: inline-block;
}
.lastupdated_textbox h5{
     margin: 0px;    
    color: #231f20;    
    font-family: 'Nunito-ExtraBold';
    font-size: 18px;
    float: right;   
    display: inline-block;
}

.reorderquestion_manbox{
    display: inline-block;
    width: 100%;
    margin-top: 45px;
    border: 1px solid #bbbdc0;
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom:20px;
}
.questioninner_toptextbox{
    display: inline-block;
    width: 100%;
    padding-bottom: 33px;   
}
.questioninner_toptextbox h3{
    margin: 0px;    
    color: #b5b5b5;
    font-family: 'Nunito-Bold';
    font-size: 23px;    
    display: inline-block;
}
.questioninner_toptextbox p{
     margin: 0px;    
    color: #231f20;
    font-family: 'Nunito-Bold';
    font-size: 23px;    
    display: inline-block;
    float: right;
}

.editman_textbox{
    display: inline-block;
    width: 100%;
    /*border-bottom: 2px solid #bbbdc0;*/
    padding-bottom: 8px;
    margin-bottom: 0px;
}
hr.boxline_set{
    width: 97%;
    float: right;
    margin-top: 0px;
    margin-bottom: 25px;
    border: 0;
    border-top: 1px solid #bbbdc0; 
}
.questionnair_editinerrbox{
    display: inline-block;
    width: 50%;
    float: left;
}
.questionnair_editinerrbox p{
    margin: 0px;
    font-family: 'Nunito-Bold';
    font-size: 20px;
    color: #6A7284;
    display: inline-block;
    margin-right: 14px;    
}
.previewdelete_rightbox{
    display: inline-block;
    width: 50%;
    float: left;
}

.previewdelete_rightbox p{
    margin: 0px;
    font-family: 'Nunito-ExtraBold';
    float: right;
    font-size: 20px;
    margin-left: 16px;
    color: #bbbdc0;
}
.previewdelete_rightbox span{
    font-family: 'Nunito-Bold';
    float: right;
    font-size: 20px;
    margin-left: 16px;
    color: #ef4f50;
}


/***PAGE-3.CSS***/


/***MODAL.CSS***/
.setmodal_boxpart{
    display: inline-block;
    width: 100%;
}
.setmodal_boxpart .modal-dialog{
    width: 38%;
}
.setmodal_boxpart .modal-header {
    padding: 0px;
    padding-left: 25px;
    padding-top: 23px;
    padding-bottom: 16px;
    padding-right: 22px;
}
.modalheader_setbox{
    display: inline-block;
    width: 50%;
    float: left;    
}
.modalheader_setbox h4{
    margin: 0px;
    text-align: center;
    color: #939597;
    font-size: 20px;
    font-family: 'Nunito-ExtraBold';
}
.leftarrow_icon{
    display: inline-block;
    width: 24%;
    float: left;
}
.leftarrow_icon img{
    width: 27px;
}
.modalbody_innerdetailss{
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 70px;
}
.modalinner_buttenbox{
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}
.modalinner_buttenbox button{
    background: #fff;
    border: 1px solid #bbbdc0;
    font-family: 'Nunito-ExtraBold';
    width: 178px;
    height: 32px;
    color: #6A7284;
    font-size: 16px;
    padding-bottom: 6px;
    border-radius: 4px;
}
.modalinner_buttenbox button:focus{
    color: #fff;
    border: 0px solid;
    background: rgba(244,121,50,1);
    background: -moz-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(100%, rgba(237,36,113,1)));
    background: -webkit-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: linear-gradient(135deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47932', endColorstr='#ed2471', GradientType=1 );
}

.modal_footernextbutten{
    display: inline-block;
    width: 100%;
    padding-left: 25px;
    border-top: 2px solid #bbbdc0;
    padding-top: 26px;
    padding-bottom: 20px;
    padding-right: 25px;
}
.modal_footernextbutten button{
    border: 0px;
    width: 122px;
    border-radius: 7px;
    height: 43px;
    font-size: 18px;
    font-family: 'Nunito-ExtraBold';
    color: #fff;
     background: rgba(244,121,50,1);
    background: -moz-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(100%, rgba(237,36,113,1)));
    background: -webkit-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: linear-gradient(135deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47932', endColorstr='#ed2471', GradientType=1 );
}

.modal_footernextbutten button:hover{
    color: #fff;
}

.typeofqustion_part{
    display: inline-block;
    width: 100%;
    padding-top: 23%;
    padding-bottom: 23%;
}
.typeofqustion_part textarea{
    border: 0px;
    width: 100%;
    color: #231f20;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    height: auto;
    font-family: 'Nunito-Bold';
}

.typeofqustion_part ::-webkit-input-placeholder {
  color: #231f20;
}
.typeofqustion_part ::-moz-placeholder { 
  color: #231f20;
}
.typeofqustion_part :-ms-input-placeholder { 
  color: #231f20;
}
.typeofqustion_part :-moz-placeholder { 
  color: #231f20;
}

.paintedset_textbox{
    display: inline-block;
    width: 100%;
    padding-top: 31px;
    padding-bottom: 45px;
}
.paintedset_textbox h3{
    margin: 0px;
    color: #231f20;
    font-family: 'Nunito-Bold';
    font-size: 22px;
    text-align: center;
}
.checkbox_removemanpart{
    display: inline-block;
    width: 100%;
    padding-bottom: 85px;
    border-top: 1px solid #bbbdc0;
    padding-top: 12px;
}
.checkboxbutten_andremovebtn{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #bbbdc0;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 11px;
    margin-bottom: 18px;
}
.paintedset_checkboxbutten{
    display: inline-block;
    width: 50%;
    float: left;
}

.paintedset_checkboxbutten .newcheckbox {
    display: block;
    position: relative;
    padding-left: 46px;
    color: #d1d2d4;
    font-family: 'Nunito-SemiBold';
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 2px;
}
.paintedset_checkboxbutten .newcheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.paintedset_checkboxbutten .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 2px solid #d1d2d4;
    background-color: #fff;
    border-radius: 5px !important;
}

.paintedset_checkboxbutten .newcheckbox input:checked ~ .checkmark {
    margin-top: 5px;
    background: rgba(244,121,50,1);
    background: -moz-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(0%, rgba(244,121,50,1)), color-stop(100%, rgba(237,36,113,1)));
    background: -webkit-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    background: linear-gradient(135deg, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(244,121,50,1) 0%, rgba(237,36,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47932', endColorstr='#ed2471', GradientType=1 );
    border-radius: 4px;
    border: 0;
}
.paintedset_checkboxbutten .checkmark {
    position: absolute;
    margin-top: 5px;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 2px solid #d1d2d4;
    background-color: #fff;
    border-radius: 5px !important;
}

.paintedset_checkboxbutten .newcheckbox input:checked ~ .checkmark:after {
    display: block;
}

.paintedset_checkboxbutten .newcheckbox .checkmark:after {
    left: 11px;
    top: 6px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.paintedset_checkboxbutten .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.remove_righttextbox{
    display: inline-block;
    width: 50%;
    float: left;
    padding-top: 7px;
}
.remove_righttextbox p{
    color: #ef4f50;
    margin: 0px;
    font-family: 'Nunito-ExtraBold';
    font-size: 17px;
    text-align: right;
}

.setmodal_boxpart .modal-header .close {
    margin-top: 0;
    font-size: 19px;
    color: #231f20;
    opacity: 1;
    font-family: 'Nunito-ExtraBold';
}

/***MODAL.CSS***/

/***CATEGORIES.CSS***/

.active span{
    color: #000000;
}
.addcategory_todivbox{
    display: inline-block;
    width: 100%;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 55px;
    border-bottom: 1px solid #BBBDC0;
    padding-bottom: 45px;
}
.buttenaddcategory{
    display: inline-block;
    width: 100%;
    cursor: pointer;

}
.buttenaddcategory img{
    width: 32px;
    margin-right: 6px;
    float: left;
}
.buttenaddcategory p{
    margin: 0px;
    color: #EF4F50;
    font-size: 16px;
    margin-top: 5px;
    display: inline-block;
    font-family: 'Rubik-Regular';
}
.categorytexboxpart{
    display: inline-block;
    width: 25%;
    float: left;
    margin-top: 40px;
    border: 1px solid #bbbdc0;
    border-radius: 8px;
    padding-left: 22px;
    padding-top: 22px;
    padding-bottom: 30px;
}
.categorytexboxpart h4{
    margin: 0px;
    color: #57bd89;
    font-size: 15px;
    padding-bottom: 10px;
    font-family: 'Rubik-Regular';
}
.categorytexboxpart p{
    margin: 0px;
    font-family: 'Rubik-Regular';
    font-size: 28px;
    color: #6A7284;
}
.savecloseboxpart{
    display: inline-block;
    width: 100%;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 55px;
}
.savebuttenbox{
    display: inline-block;
    width: 100%;
}
.savebuttenbox a{
    display: inline-block;
    color: #FFFFFF;
    font-family: 'Rubik-Regular';
    font-size: 15px;
    background: #57BD89;
    padding: 8px 21px 8px 21px;
    border-radius: 5px;
    margin-right: 17px;
    letter-spacing: 0.5px;
}
.Categoryname_divbox{
    display: inline-block;
    width: 100%;
    padding-top: 0;
}
.Categoryname_divbox input{
    border: 1px solid #BBBDC0;
    border-radius: 7px;
    color: #6A7284;
    font-family: 'Rubik-Regular';
    height: 44px;
    width: 45%;
    padding-left: 13px;
    padding-right: 10px; 
}
.Categoryname_divbox :focus{
    border: 1px solid #f06743;
}

.subcategory_divbox :focus{    
    border-bottom: 1px solid #f06743;
}
.endurance_inputtext :focus{    
    border-bottom: 1px solid #f06743;
}
.Categoryname_divbox p{
    margin: 0px;
    color: #808284;
    font-size: 14px;
    font-family: 'Rubik-Regular';
    padding-bottom: 15px;
}

.Categoryname_divbox ::-webkit-input-placeholder {
  color: #6A7284;
}
.Categoryname_divbox  ::-moz-placeholder {
  color: #6A7284;
}
.Categoryname_divbox  :-ms-input-placeholder {
  color: #6A7284;
}
.Categoryname_divbox  :-moz-placeholder {
  color: #6A7284;
}

.Categoryicon_divbox{
    display: inline-block;
    width: 100%;
    padding-top: 43px;
}
.Categoryicon_divbox p{
    margin: 0px;
    color: #808284;
    font-size: 14px;
    font-family: 'Rubik-Regular';
    padding-bottom: 15px;
}
.accounting_iconbox{
    text-align: center;
    display: inline-block;
    width: 185px;
    height: 181px;
    float: left;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(196,196,196,1);
    -moz-box-shadow: 0px 0px 12px 1px rgba(196,196,196,1);
    box-shadow: 0px 0px 12px 1px rgb(226, 225, 225);
    border: 1px solid #ccc;
    border-radius: 17px;
}
.accounting_iconbox img{
    padding-top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 17px;
}
.accounting_iconbox p{
    margin: 0px;
    color: #000000;
    font-family: 'Rubik-Regular';
    font-size: 17px;
    padding-top: 6px;
}
.removeicon_text label,.removeicon_text p{
    cursor: pointer;
}
.removeicon_text{
    display: inline-block;
    width: 50%;
    float: left;
    padding-left: 5px;
    padding-top: 30px;
}
.removeicon_text p{
    color: #EF4F50 !important;
    font-family: 'Rubik-Regular' !important;
    font-size: 17px !important;
    margin: 0px !important;
}
.removeicon_text label{
    color: #57BD89 !important;
    font-family: 'Rubik-Regular' !important;
    font-size: 17px !important;
    margin: 0px !important;
}
input.cat_icon{
    display: none;
}
.addsubcategory{
    display: inline-block;
    width: 100%;
    padding-top: 45px;
    padding-bottom: 25px;
}
.addsubcategory a{
    display: inline-block;
    color: #EF4F50;
    font-size: 17px;
    margin: 0px;
    font-family: 'Rubik-Regular';
}
.collapsesetdivbox{
    display: inline-block;
    width: 100%;
}
.inner_collapsesetdivbox{
    display: inline-block;
    width: 50%;
}
.inner_collapsesetdivbox .panel-default>.panel-heading{
    background-color: transparent;
    border-color: #BBBDC0;
}
.inner_collapsesetdivbox .panel-group .panel{
    border-radius: 8px;
    margin-bottom: 16px;
}

.fitnesstrainertopdiv{
    display: inline-block;
    width: 100%;
    min-height: 30px;
    padding-top: 6px;    
}
.fitnesinnertext_detlis1{ display: inline-block; width: 69%; float: left; }
.fitnesinnertext_detlis2{ display: inline-block; width: 12%; float: left; }
.fitnesinnertext_detlis3{ display: inline-block; width: 14%; float: left; padding-left: 1px; padding-top: 1px; }
.fitnesinnertext_detlis4{ display: inline-block; width: 5%; float: left; }


.fitnesstrainertopdiv a img{

}
.fitnesstrainertopdiv a.collapsed img{
    transform: rotate(60deg);
}


.fitnesinnertext_detlis1 p{
    margin: 0px;
    color: #6A7284;
    font-size: 17px;
    font-family: 'Rubik-Regular';
}
.fitnesinnertext_detlis2 a{
    display: inline-block;
    margin: 0px;
    color: #57BD89;
    font-size: 15px;
    padding-top: 2px;
    font-family: 'Rubik-Regular';
}
.fitnesinnertext_detlis2 img{
    width: 16px;
}
.fitnesinnertext_detlis3 img{
    width: 16px;
}
.fitnesinnertext_detlis3 a{
    display: inline-block;
    margin: 0px;
    color: #EF4F50;
    font-size: 15px;
    padding-top: 2px;
    font-family: 'Rubik-Regular';
}

.fitnesinnertext_detlis4 a{
    display: inline-block;
}
.fitnesinnertext_detlis4 img{
    width: 16px;
}
.subcategory_divbox{
    display: inline-block;
    width: 100%;
}
.subcategory_divbox p{
    margin: 0px;
    color: #808284;
    font-family: 'Rubik-Regular';
    font-size: 13px;
    padding-bottom: 18px;
}
.subcategory_divbox input{
    border: 0px;
    border-bottom: 1px solid #BBBDC0;
    width: 66%;
    font-family: 'Rubik-Regular';
    font-size: 17px;
    color: #6A7284;
    border-radius: 0;
    padding-left: 0;
}

.subcategory_divbox ::-webkit-input-placeholder {
  color: #6A7284;
}
.subcategory_divbox  ::-moz-placeholder {
  color: #6A7284;
}
.subcategory_divbox  :-ms-input-placeholder {
  color: #6A7284;
}
.subcategory_divbox  :-moz-placeholder {
  color: #6A7284;
}

.areaofexpetise_textbox{
    display: inline-block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 19px;
}
.areaofexpetise_textbox p{
    margin: 0px;
    color: #808284;
    font-family: 'Rubik-Regular';
    font-size: 13px;
    display: inline-block;    
}

.areaofexpetise_textbox span{    
    color: #EF4F50;
    padding-left: 8px;
}

.endurance_inputtext{
    display: inline-block;
    width: 100%;
    padding-bottom: 13px;    
}
.endurance_inputtext input{
    border: 0px;
    border-bottom: 1px solid #BBBDC0;
    width: 100%;
    font-family: 'Rubik-Regular';
    font-size: 17px;
    color: #6A7284;
    padding-right: 67px;
}
.endurance_inputtext a{
    display: inline-block;
    color: #EF4F50;
    font-family: 'Rubik-Regular';
    font-size: 15px;
    text-align: right;
    float: right;
    position: relative;
    top: -21px;
    left: 0;
    right: 0;
}

.endurance_inputtext ::-webkit-input-placeholder {
  color: #6A7284;
}
.endurance_inputtext ::-moz-placeholder {
  color: #6A7284;
}
.endurance_inputtext :-ms-input-placeholder {
  color: #6A7284;
}
.endurance_inputtext :-moz-placeholder {
  color: #6A7284;
}

/***CATEGORIES.CSS***/

/***User-Profile***/

.profiledetlisman_div{
    display: inline-block;
    width: 100%;
    padding-left: 40px;    
    padding-top: 50px;
    padding-bottom: 50px;
}
.profile_innerdetlis{
    display: inline-block;
    width: 53%;
    border: 1px solid #D1D2D4; 
}
.profilephoto_detlis{
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D1D2D4;    
}
.profile_titaltext{
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.profile_titaltext h3{
    color: #231F20;
    margin: 0px;
    font-size: 22px;
    font-family: 'Rubik-Regular';
}
.leftprofile_detlis{
    display: inline-block;
    width: 35%;
    float: left;
}
.leftprofile_detlis p{
    color: #808284;
    font-family: 'Rubik-Medium';
    font-size: 12px;
    margin: 0px;
    padding-top: 11px;
}
.rightprofile_detlis{
    display: inline-block;
    width: 65%;
    float: left;
}
.rightprofile_detlis img{
    width: 40px;
}
.namedetlis_boxpart{
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    position: relative;
    border-bottom: 1px solid #D1D2D4;
}
.leftname_detlis{
    display: inline-block;
    width: 35%;
    float: left;
}
.leftname_detlis p{
    color: #808284;
    font-family: 'Rubik-Medium';
    font-size: 12px;
    margin: 0px;    
}
.rightname_detlis{
    display: inline-block;
    width: 65%;
    float: left;
}
.rightname_detlis p{
    color: #6A7284;
    font-family: 'Rubik-Regular';
    font-size: 13px;
    margin: 0px;    
}

html, body {
  height: 100%;
  margin: 0;
}
.twopart_coverdivpart{
    min-height: 100%;
    margin-bottom: -74px;
}
footer{
    display: none;
    width: 100%;
    height: 50px;
}
.footermargin{
    margin-bottom: 78px;
    display: inline-block;
    width: 100%;
}

.footer_detlis{
    display: inline-block;
    width: 100%;
    background: #231F20;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;
    z-index: 9;
    position: relative;    
}

.footer_detlis p{
    margin:0px;
    color: #fff;
    font-size: 18px;
    font-family: 'Rubik-Regular';
}

.verified_icondiv img{
    width: 17px;
    position: absolute;    
    right: 13px;
    top: 13px;
}
.setborderclass{
    border-bottom: 0px;
}

/***User-Profile***/

/*User-Profile-list*/
.users_detateblebox{
    display: inline-block;
    width: 100%;
    padding-left: 40px;
    padding-top: 50px;
    padding-right: 45px;
}
.users_textboxpart{
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
}
.users_textboxpart h3{
    margin: 0px;
    font-size: 20px;
    color: #4D4F5C;
    padding-top: 4px;
    font-family: 'circular-pro-medium';
    display: inline-block;
    float: left;
}
.userimages_class img{
    width: 22px;
}


.innerdatatable_detlis{
    display: inline-block;
    width: 100%;
    padding-bottom: 60px;
}
.innerdatatable_detlis td{
    color: #6A7284;
    font-size: 14px;
    font-family: 'Rubik-Regular';
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
.innerdatatable_detlis table.dataTable tbody th, table.dataTable tbody td{
    border-right: 0;
    border-bottom: 0;
}
.innerdatatable_detlis th{
    color: #000000;
    font-family: 'Rubik-Medium';
    font-size: 14px;

}
.table-bordered {
    border: 1px solid #A7A9AB;
}
.innerdatatable_detlis table.dataTable tbody tr {
    background-color: #ffffff !important;
}
.innerdatatable_detlis table.dataTable.no-footer{
    border-bottom: 1px solid #A7A9AB;
}
.innerdatatable_detlis table.dataTable thead th{
    border-bottom: 0px solid #A7A9AB;
}
 td.profiletext_colorset a{
    color: #EF4F50;
}
.innerdatatable_detlis .dataTables_info{
    color: #6A7284;
    padding-top: 23px;
    font-family: 'Rubik-Regular';
}
.innerdatatable_detlis .dataTables_length{
    margin-bottom: 10px;
    color: #6A7284;
    font-family: 'Rubik-Regular';
}
.innerdatatable_detlis .dataTables_filter input{
    border: 0px;
    border: 1px solid;
    border: 1px solid #A7A9AB;
    border-radius: 4px;
    font-family: 'Rubik-Regular';
    padding-left: 5px;
    font-size: 13px;
}
.innerdatatable_detlis .dataTables_filter label{
    color: #6A7284;
    font-family: 'Rubik-Regular';
}
.innerdatatable_detlis .paging_simple_numbers{
    padding-top: 13px;
    font-family: 'Rubik-Regular';
}
.innerdatatable_detlis .paginate_button {
    color: #6A7284;
}


/*User-Profile-list*/


/***CATEGORIES-LIST***/
.categoriesadd_detlis{
    display: inline-block;
    width: 100%;
    padding-top: 30px;
}
.leftcategories_text{
    display: inline-block;
    width: 34%;
    float: left;
    text-align: right;
}
.leftcategories_text p{
    margin: 0px;
    color: #000000;
    font-family: 'Rubik-Medium';
    text-align: right;
    display: inline-block;
    font-size: 18px;
    padding-left: 13px;
    padding-top: 0px;
    float: right;
}
.leftcategories_text img{
    width: 22px;
}

.rightedit_buttenbox{
    display: inline-block;
    width: 66%;
    float: left;
    text-align: right;
}
.rightedit_buttenbox .btn.btn-success{
    display: inline-block;
    border: 1px solid #E6E7E8;
    border-radius: 16px;
    color: #5cb85c;
    font-size: 16px;
    font-family: 'Rubik-Medium';
    padding: 6px 37px 5px 37px;
    background: inherit;
}
.rightedit_buttenbox a{
    display: inline-block;
    border: 1px solid #E6E7E8;
    border-radius: 16px;
    color: #EF4F50;
    font-size: 16px;
    font-family: 'Rubik-Medium';
    padding: 6px 37px 5px 37px;
}

.leftcategories_boxdiv{
    display: inline-block;
    width: 20%;
    float: left;
    position: absolute;
    background: #fff;
    top: 123px;
    left: 0;
    height: 100%;
}
.leftcategories_textdetlis{
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
    padding-left: 22px;
    position: relative;
}
.leftcategories_textdetlis h3{
    margin: 0px;
    color: #6A7284;
    font-family: 'Rubik-Medium';
    font-size: 17px;
    padding-bottom: 14px;
    text-transform: uppercase;
}
.leftcategories_textdetlis input{
    border: 1px solid #E6E7E8;
    width: 96%;
    color: #231F20;
    padding-right: 22px;
    height: 43px;
    padding-top: 0;
    float: left;
    padding-left: 9px;
    font-family: 'Rubik-Regular';
}
.leftcategories_textdetlis i{
    position: absolute;    
    right: 25px;
    top: 44px;
    font-size: 16px;
}
.leftcategories_textdetlis ::-webkit-input-placeholder {
  color: #B5B5B5;
}
.leftcategories_textdetlis ::-moz-placeholder { 
  color: #B5B5B5;
}
.leftcategories_textdetlis :-ms-input-placeholder { 
  color: #B5B5B5;
}
.leftcategories_textdetlis :-moz-placeholder { 
  color: #B5B5B5;
}


.innercategories_detlis{
    display: inline-block;
    width: 100%;    
}
.innercategories_detlis ul{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: auto;    
    max-height: 350px;
}
.innercategories_detlis ul li{
    display: inline-block;
    width: 96%;    
}
.innercategories_detlis ul li a{
    display: inline-block;
    font-family: 'Rubik-Regular';
    font-size: 15px;
    color: #ED1C24;
    padding-left: 27px;    
    margin-bottom: 8px;
    margin-top: 8px;
}
.activelist a{
    color: #231F20 !important;
    background: #E6E7E8;
    padding-bottom: 11px;
    padding-top: 11px;    
    width: 100%;
    border-radius: 0px 22px 22px 0px;

}
.activelist i{
    color: #231F20;
    text-align: right;
    float: right;
    padding-right: 19px;
    padding-top: 1px;
    font-size: 21px;
}


.rightcategories_detlisdiv{
    display: inline-block;
    width: 80%;
    float: right;
    padding-top: 0;
    padding-left: 0;    
}
.accounting_logobox{
    text-align: center;
    display: inline-block;
    width: 140px;
    height: 140px;
    float: left;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(196,196,196,1);
    -moz-box-shadow: 0px 0px 12px 1px rgba(196,196,196,1);
    box-shadow: 0px 0px 12px 1px rgb(226, 225, 225);
    border: 1px solid #ccc;
    border-radius: 17px;
}
.accounting_logobox img{
    padding-top: 23px;
    object-fit: cover;
    width: 110px;
    height: 110px;
}

.accounting_logobox p{
    margin: 0px;
    color: #000000;
    font-family: 'Rubik-Regular';
    font-size: 15px;
    padding-top: 3px;
}
.healthfitness_textdiv{
    display: inline-block;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 25px;
}
.healthfitness_textdiv h3{
    margin: 0px;
    color: #6A7284;
    font-size: 23px;
    font-family: 'Rubik-Medium';
}
.fitnesstrainer_detlis{
    display: inline-block;
    width: 42%;
    border: 1px solid #BBBDC0;
    border-radius: 5px;
    margin-bottom: 28px;
}
.fitnesstrainer_text{
    display: inline-block;
    width: 100%;    
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 15px;
    border-bottom: 1px solid #BBBDC0;
}
.fitnesstrainer_text p{
    margin: 0px;
    color: #6A7284;
    font-size: 16px;
    font-family: 'Rubik-Regular';
}

.subcategories_detlis{
    display: inline-block;
    width: 100%;
}
.subcategories_detlis ul{
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-top: 17px;
    padding-left: 15px;
    padding-right: 15px;
}
.subcategories_detlis ul li{
    display: inline-block;
    border: 1px solid #6A7284;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    padding-top: 2px;    
    padding-bottom: 2px;
    margin-bottom: 14px;
    margin-right: 4px;
    float: left;
}

.subcategories_detlis ul li p{
    margin: 0px;
    font-size: 12px;
    color: #6A7284;
    font-family: 'Rubik-Regular';
}
.topfitnesstrainer_detlis{
    display: inline-block;
    width: 100%;
}
.fitnesstrainerbox_coverdetlis{
    display: inline-block;
    width: 100%;
}


.leftcategories_boxdiv ::-webkit-scrollbar {
  width: 5px;
}


.leftcategories_boxdiv ::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}
 

.leftcategories_boxdiv ::-webkit-scrollbar-thumb {
  background: #E6E7E8; 
  border-radius: 10px;
}


.leftcategories_boxdiv ::-webkit-scrollbar-thumb:hover {
  background: #E6E7E8; 
}


/***CATEGORIES-LIST***/




/***CATEGORIES-COMPANIES***/

.category_detlisdiv{
    display: inline-block;
    width: 100%;
}
.category_detlisdiv ul{
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.category_detlisdiv ul li{
    display: inline-block;
    width: 10%;
    float: left;
}
.category_detlisdiv ul li a{
    display: inline-block;
    color: #6A7284;
    font-family: 'Rubik-Regular';
    font-size: 14px;

}
.categorycity_detlisdiv{
    display: inline-block;
    width: 100%;    
    padding-bottom: 50px;
}
.leftcategory_detlis{
    display: inline-block;
    width: 20%;
    float: left;
}
.leftcategory_detlis ul{
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.leftcategory_detlis ul li{
    display: inline-block;
    width: 100%;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-bottom: 3px;
    padding-left: 11px;
}
.leftcategory_detlis ul li a{
    display: inline-block;
    color: #ED1C24;
    font-size: 15px;
    width: 88%;
    font-family: 'Rubik-Regular';
}
.activecategory {
    background: #E6E7E8;
    padding-bottom: 7px !important;
    padding-top: 7px !important;
    padding-left: 11px;
}

.activecategory a{
    color: #231F20 !important;
}
.activecategory img{
    width: 8px;
    float: right;
    margin-right: 8px;
    margin-top: 6px;
}

.rightcategory_detlisdiv{
    display: inline-block;
    width: 60%;
    float: left;
    padding-left: 20px;
    height: 264PX;
    overflow: auto;
}
.rightcategory_detlisdiv table.dataTable tbody th, table.dataTable tbody td {
    border-right: 0;
    border-bottom: 0;
}

.rightcategory_detlisdiv th{
    color: #000;
    font-family: 'Rubik-Regular';
    font-size: 14px;
}
.rightcategory_detlisdiv td{
    color: #6A7284;
    font-family: 'Rubik-Regular';
    font-size: 14px;
}
.trtdtable_tomandivboxpart{
    display: inline-block;
    width: 80%;
}

.trtdtable_tomandivboxpart ::-webkit-scrollbar {
  width: 5px;
}


.trtdtable_tomandivboxpart ::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}
 

.trtdtable_tomandivboxpart ::-webkit-scrollbar-thumb {
  background: #E6E7E8; 
  border-radius: 10px;
}


.trtdtable_tomandivboxpart ::-webkit-scrollbar-thumb:hover {
  background: #E6E7E8; 
}
ul.rightsrnumber_detlisbox{
    display: inline-block;
    width: 10%;
    float: left;
    margin: 0px;
    padding: 0px;    
    border: 1px solid #A7A9AB;
    border-right: 0px;
    border-bottom: 0px;
}

ul.rightsrnumber_detlisbox li{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #A7A9AB;
    min-height: 37px;
    padding-top: 10px;
    padding-left: 10px;
}
ul.rightsrnumber_detlisbox li p{
    margin: 0px;
    color: #6A7284;
    font-family: 'Rubik-Regular';
    font-size: 14px;
}

ul.rightcity_detlisbox{
    display: inline-block;
    width: 35%;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 1px solid #A7A9AB;
    border-right: 0;
    border-bottom: 0px;

}
ul.rightcity_detlisbox li{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #A7A9AB;
    min-height: 37px;
    padding-left: 10px;
    padding-top: 10px;
}
ul.rightcity_detlisbox li p{
    margin: 0px;
    color: #6A7284;
    font-family: 'Rubik-Regular';
    font-size: 14px;
}

li.number_detlistext p{
    color: #000000 !important;
    font-family: 'Rubik-Medium' !important;
    font-size: 15px !important;
}
ul.rightcompaniec_detlisbox{
    display: inline-block;
    width: 20%;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 1px solid #A7A9AB;
    border-bottom: 0px;
}
ul.rightcompaniec_detlisbox li{
   display: inline-block;
    width: 100%;
    min-height: 37px;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #A7A9AB;
}

ul.rightcompaniec_detlisbox li p{
    margin: 0px;
    color: #6A7284;
    font-family: 'Rubik-Regular';
    font-size: 14px;
}

/***CATEGORIES-COMPANIES***/


/***Business-Info***/

.business_detliscollapse{
    display: inline-block;
    width: 60%;
    float: left;
}
.business_detliscollapse .panel-default>.panel-heading+.panel-collapse>.panel-body{
    padding: 0px;
}
.leftheading_textbox{
    display: inline-block;
    width: 80%;
    float: left;
}
.leftheading_textbox h3{
    margin: 0px;
    color: #231F20;
    font-family: 'Rubik-Regular';
    font-size: 16px;
}
.rightcollapse_arrowicon{
    display: inline-block;
    width: 20%;
    float: left;
}
.rightcollapse_arrowicon img{
    width: 17px;
    float: right;
    margin-top: 4px;
}
.toppanelheading_divbox{
    display: inline-block;
    width: 100%;    
}
.businessprofile_alldetlisdiv{
    display: inline-block;
    width: 100%;
}
.topprifile_detlisdivbox{
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #D1D2D4;
    padding-top: 30px;   
}
.left_businessprofileinfo{
    display: inline-block;
    width: 35%;
    float: left;
}
.left_businessprofileinfo p{
    color: #808284;
    font-family: 'Rubik-Medium';
    font-size: 12px;
    margin: 0px;
    padding-top: 11px;
}
.right_businessprofile{
    display: inline-block;
    width: 65%;
    float: left;
}
.right_businessprofile img {
    width: 40px;
}

.companiesname_detlis{
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    position: relative;
    border-bottom: 1px solid #D1D2D4;
}
.leftcompaniesname{
    display: inline-block;
    width: 35%;
    float: left; 
}
.leftcompaniesname p{
    color: #808284;
    font-family: 'Rubik-Medium';
    font-size: 12px;
    margin: 0px; 
}

.rightcompaniesname{
    display: inline-block;
    width: 65%;
    float: left; 
}

.rightcompaniesname p{
    color: #6A7284;
    font-family: 'Rubik-Regular';
    font-size: 14px;
    margin: 0px;
}
ul.innercompanies_detlisbox{
    display: inline-block;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
ul.innercompanies_detlisbox li{
    display: inline-block;
    border: 1px solid #6A7284;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 14px;
    float: left;
    margin-right: 10px;
}
.rightcompaniesname span{
    color: #EB2026;
}
.paddingsetclassadd p{
    padding-bottom: 8px;
}
.modalvideos_detlis{
    display: inline-block;
    border: 1px solid #D1D2D4;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 39px;
    margin-top: 25px;
}
.modalvideos_detlis img{    
    text-align: center;
    width: 19px;
}

.rightbusiness_detliscollapse{
    display: inline-block;
    width: 25%;
    float: left;
    padding-left: 30px;
}
.rightcollapse_detlis{
    display: inline-block;
    width: 225px;
    height: auto;
    border: 1px solid #D1D2D4;
    padding-top: 11px;
    padding-left: 11px;
    padding-bottom: 16px;
    margin-bottom: 20px;
}
.hourlyrate_text{
    display: inline-block;
    width: 100%;
}

.hourlyrate_text h3{
    margin: 0px;
    font-size: 13px;
    color: #808284;
    padding-bottom: 11px;
    font-family: 'Rubik-Medium';
}
.hourlyrate_text p{
    margin: 0px;
    font-size: 13px;
    color: #808284;
    font-family: 'Rubik-Medium';
}
.hourlyrate_text span{
    color: #61BD6B;
}
.canadiandollars_text{
    display: inline-block;
    width: 100%;
    padding-top: 21px;
}
.canadiandollars_text h3{
    margin: 0px;
    font-size: 13px;
    color: #808284;
    padding-bottom: 8px;
    padding-bottom: 11px;
    font-family: 'Rubik-Medium';
}
.canadiandollars_text p{
    margin: 0px;
    color: #6A7284;
    font-size: 14px;
    font-family: 'Rubik-Regular';
}

.location_bodydetlid{
    display: inline-block;
    width: 100%;
    padding-top: 35px;
}
.locationtipe_detlis{
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    position: relative;
    border-bottom: 1px solid #D1D2D4;
}
.left_locationtipe{
    display: inline-block;
    width: 35%;
    float: left;
}
.left_locationtipe p{
    color: #808284;
    font-family: 'Rubik-Medium';
    font-size: 12px;
    margin: 0px;
}
.right_locationtipe{
    display: inline-block;
    width: 65%;
    float: left; 
}
.right_locationtipe p {
    color: #6A7284;
    font-family: 'Rubik-Regular';
    font-size: 14px;
    margin: 0px;
}

.webderinges_detlis{
    display: inline-block;
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
}
.development_innerdetlis{
    display: inline-block;
    width: 100%;
    padding-top: 35px;
}
.development_innerdetlis h3{
    margin: 0px;
    color: #6A7284;
    font-size: 17px;
    font-family: 'Rubik-Medium';
}
.development_innerdetlis span{
    color: #61BD6B;
}
.webdesign_photodetlis{
    display: inline-block;
    width: 100%;
}
.webdesign_photodetlis p{
    margin: 0px;
    color: #6A7284;
    font-family: 'Rubik-Regular';
    font-size: 14px;
    padding-top: 18px;
}
.webdesign_photodetlis span{
    color: #EB2026;
}
.webdesign_photodetlis ul{
    display: inline-block;
    width: 100%;
    padding-top: 25px;
    margin: 0px;
    padding-left: 0px;
}
.webdesign_photodetlis ul li{
    display: inline-block;
    width: 25%;
    float: left;
}
.webdesign_photodetlis ul li img{
    width: 125px;
    object-fit: cover;
    height: 200px;
}
.bgcolorsetbox_part{
    display: inline-block;
    text-align: center;
    width: 125px;
    height: 200px;
    padding-top: 64px;
    background: rgba(240,79,79,1);
    background: -moz-linear-gradient(left, rgba(240,79,79,1) 0%, rgba(240,79,79,1) 0%, rgba(240,79,79,1) 1%, rgba(240,79,79,1) 1%, rgba(237,36,113,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,79,79,1)), color-stop(0%, rgba(240,79,79,1)), color-stop(1%, rgba(240,79,79,1)), color-stop(1%, rgba(240,79,79,1)), color-stop(100%, rgba(237,36,113,1)));
    background: -webkit-linear-gradient(left, rgba(240,79,79,1) 0%, rgba(240,79,79,1) 0%, rgba(240,79,79,1) 1%, rgba(240,79,79,1) 1%, rgba(237,36,113,1) 100%);
    background: -o-linear-gradient(left, rgba(240,79,79,1) 0%, rgba(240,79,79,1) 0%, rgba(240,79,79,1) 1%, rgba(240,79,79,1) 1%, rgba(237,36,113,1) 100%);
    background: -ms-linear-gradient(left, rgba(240,79,79,1) 0%, rgba(240,79,79,1) 0%, rgba(240,79,79,1) 1%, rgba(240,79,79,1) 1%, rgba(237,36,113,1) 100%);
    background: linear-gradient(to right, rgba(240,79,79,1) 0%, rgba(240,79,79,1) 0%, rgba(240,79,79,1) 1%, rgba(240,79,79,1) 1%, rgba(237,36,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04f4f', endColorstr='#ed2471', GradientType=1 );
}
.bgcolorsetbox_part p{
    margin:0px;
    color: #fff;
    font-family: 'Rubik-Regular';
    font-size: 17px;
}
.bgcolorsetbox_part span{
    margin:0px;
    color: #fff;
    font-family: 'Rubik-Regular';
    font-size: 17px;
}

.business_detliscollapse .panel-group .panel+.panel {
    margin-top: 16px;
}

.business_detliscollapse .panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #D1D2D4;
}
.numberleft_detlis img{
    width: 17px;
    position: absolute;
    right: 13px;
    top: 13px;
}

/***Business-Info***/
/*.table.table-bordered tbody{
    max-height: 200px;
    overflow: auto;
}*/
/*#subcategoryTable{
    position: relative;
}
#subcategoryTable thead tr th{
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  border:1px solid red;
}*/
.activeSC img {
    transform: rotate(0deg);
}
.activeSC.collapsed img {
    transform: rotate(180deg);
}

.add_category{
    display: inline-block;
    width: 50%;
    background-color: transparent;
    border: 1px solid #BBBDC0;
    border-radius: 8px;
    padding-left: 18px;
    padding-top: 15px;
    padding-bottom: 22px;
    padding-right: 15px;
    margin-bottom: 40px;
}
.add_category .Categoryicon_divbox{
    padding-top: 19px;
}
.add_category .removeicon_text{
    padding-top: 8px;
    padding-left: 4px;
    width: 100%;
}
/*.add_category .removeicon_text.display label{
    padding-top: 15%;
    padding-left: 8px;
}*/
.add_category .savebuttenbox{
    margin-top: 15px;
}
.add_category .Categoryname_divbox input{
    width: 80%;
}
.add_category .savebuttenbox a{
    font-size: 13px;
    padding: 7px 14px 7px 14px;
}

.innerdatatable_detlis tr th{
    color: #2b2a2a;
    font-family: 'Rubik-Medium';
    font-weight: normal !important;
}














/* media queries */
@media (max-width: 1200px){
    
}
@media (max-width: 1199px){ 
    
}
@media (max-width: 991px){
    
}
@media (max-width: 767px){

}
@media (max-width: 479px){
    
}
@media (max-width: 360px){
    
}
@media (max-width: 320px){
    
}
/* media queries */


/* media queries */











