
textarea, input{
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 box-shadow: none !important;
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}



::-webkit-scrollbar {
    background-color:#fff;
    width:13px;
}
::-webkit-scrollbar-track {
    background-color:#fff;
}
::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4;
}
::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4;
}
::-webkit-scrollbar-button {display:none}

.modal-footer{
  border-top: none !important;
}

.modal-title{
  font-family: 'Poppins-Bold';
}

.modal-body .inputwidthsetfull .form-group label {
    font-family: 'Poppins-Medium';
}

.modal-body .inputwidthsetfull .form-group input {
    font-family: 'Poppins-Medium';
}

body{
    background: rgba(244, 246, 250, 0.81);
}
.leftbar_rightbarcover{
    display: inline-block;
    width: 100%;
    float: left;
    position: relative;
}
.leftsidebarbox{
    display: inline-block;
    width: 295px;
    height: 100%;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    border-right: 1px solid #D2D2D2;
}
.rightdetailpart{
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 294px;
}

.menuboxsidbar{
    display: inline-block;
    width: 100%;

}
.menuboxsidbar ul{
    display: inline-block;
    width: 100%;
    padding-left: 0;
    margin: 0;
    padding-top: 28px;
    padding-left: 10px;
    padding-right: 10px;
}
.menuboxsidbar ul li{
    display: inline-block;
    width: 100%;
}
.menuboxsidbar ul li a{
    display: inline-block;
    width: 100%;
    color: #6E6E6E;
    font-family: 'Poppins-Medium';
    font-size: 15px;
    padding: 10px 10px 10px;
    border-radius: 6px;
}
.menuboxsidbar ul li img{
    float: left;
    width: 34px;
    margin-right: 6px;
}
.menuboxsidbar ul li span{
    float: left;
    margin-top: 5px;
}

.menuboxsidbar ul li.active{
    
}
.menuboxsidbar ul li.active a{
    color: #01034A;
    font-family: 'Poppins-SemiBold';
    background: #F1F1FF;
}
.active_icon{
    display: none;
}
.inactive_icon{
    display: inline-block;
}
.menuboxsidbar ul li.active a .active_icon{
    display: inline-block;
}
.menuboxsidbar ul li.active a .inactive_icon{
    display: none;
}

.boxandditboxcover{
    display: inline-block;
    width: 100%;
    padding-top: 32px;
    padding-left: 28px;
    padding-bottom: 25px;
    position: relative;
}
.boxandditbox_left{
  display: inline-block;
  width: 50%;
  float: left;
  padding-right: 5px;
  left: 0;
  padding-left: 15px;
  overflow: auto;
}
.boxandditbox_right{
  right: 0;
  display: inline-block;
  width: 50%;
  float: left;
  padding-left: 14px;
  overflow: auto;
}


#sidebarWrap {
    /*height: 100%;*/
    /*width: 210px;*/
    /*float: right;
    position: relative;
    box-shadow: none;
    border: none;*/
    /*margin: 0;
    padding: 0;*/
    position: relative;
    height: 100%;
}

#main {
  width: 670px;
  height: 100%;
  overflow: auto;
  /*background: #333333;*/
}


#sidebar {
    /*width: 200px;*/
    height: 100%;
    position: absolute;
  /*background: #333333;*/
}

#sidebar.fixed {
    position: fixed;
    top: 0;
}








.congrttextbox{
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    background: #ffffff;
    border-radius: 14px;
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 26px;
    margin-bottom: 30px;
    padding-right: 10px;
}
.congrttextbox h3{
    display: inline-block;
    width: 100%;
    color: #00C160;
    font-family: 'Poppins-Bold';
    font-size: 30px;
    margin: 0;
}
.congrttextbox p{
    display: inline-block;
    width: 100%;
    color: #6E6E6E;
    font-family: 'Poppins-Medium';
    font-size: 18px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
}
.congrttextbox a{
    background: #FF6600;
    font-family: 'Poppins-SemiBold';
    color: #ffffff;
    padding: 7px 16px 7px;
    display: inline-block;
    border-radius: 4px;
}

.congrttextbox a:focus, .congrttextbox a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.hurryupbox{
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    background: #ffffff;
    border-radius: 14px;
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 18px;
    margin-bottom: 30px;
    padding-right: 10px;
}
.hurryupbox h3{
    display: inline-block;
    width: 100%;
    color: #01034A;
    font-family: 'Poppins-Bold';
    font-size: 30px;
    margin: 0;
}
.hurryupbox p{
    display: inline-block;
    width: 100%;
    color: #6E6E6E;
    font-family: 'Poppins-Medium';
    font-size: 18px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 0;
}
.hurryupbox ul{
    display: inline-block;
    width: 100%;
    padding-left: 0;
    margin: 0;
    margin-top: 14px;
}
.hurryupbox ul li{
    display: inline-block;
    float: left;
    width: auto;
    text-align: left;
}
.hurryupbox ul li h4{
    color: #00C160;
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 22px;
    font-family: 'Poppins-Bold';
}
.hurryupbox ul li p{
    color: #929292;
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 17px;
    font-family: 'Poppins-Regular';
}

.veiableboxset{
    display: inline-block;
    width: 100%;
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    background: #ffffff;
    border-radius: 14px;
    border-bottom: 1px solid #E8E8E8;
}
.veiablebox_title{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
}
.veiablebox_title h3{
    color: #6E6E6E;
    display: inline-block;
    width: 100%;
    font-family: 'Poppins-SemiBold';
    font-size: 18px;
    margin: 0;
}


.vehiclesdetaboxcover{
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.vehiclesdetaboxiner{
    display: inline-block;
    width: 100%;
    max-height: 828px;
    overflow: auto;
}

.userimgtextbox{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 15px;
}
.userimgtextbox.active{
    background: #F4F6FA;
}
.userimgbox{
    display: inline-block;
    width: 88px;
    height: 88px;
    border-radius: 6px;
    float: left;
}

.userimgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.usertextbox{
    display: inline-block;
    width: 75%;
    float: left;
    padding-left: 18px;
    padding-top: 5px;
}
.usertextbox h4{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #01034A;
    font-size: 20px;
    font-family: 'Poppins-SemiBold';
    margin-bottom: 8px;
}
.usertextbox p{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #929292;
    font-size: 17px;
    font-family: 'Poppins-Medium';
}
.usertextbox p span{
    display: inline-block;
    float: left;
}
span.vehicleVIN{
  display: inline-block;
  width: 100%;
  margin: 0;
  color: #01034A;
  font-size: 16px;
  font-family: 'Poppins-Medium';
}
.usertextbox p img{
    display: inline-block;
    float: left;
    width: 7px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
}


.listplacebtnbox{
    display: inline-block;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 15px;
}
.listplacebtnbox button{
  display: inline-block;
    color: #ffffff;
    font-family: 'Poppins-SemiBold';
    font-size: 16px;
    padding: 8px 16px 8px;
    border-radius: 6px;
    margin-right: 14px;
    float: left;
    border: none;
}
.listplacebtnbox a{
    display: inline-block;
    color: #ffffff;
    font-family: 'Poppins-SemiBold';
    font-size: 16px;
    padding: 8px 16px 8px;
    border-radius: 6px;
    margin-right: 14px;
    float: left;
}

.listplacebtnbox a:focus, .listplacebtnbox a:hover {
    color: #ffffff;
    text-decoration: underline;
}
.listingditbtn{
    background: #FF6600;
}
.placebidbtn{
    background: #00C160;
}
/*.shareVehicle{
  display: inline-block;
  width: 100%;
}*/
.shareVehicle{
  display: inline-block;
  float: left;
  padding: 8px 8px 8px !important;
  margin-right: 10px !important;
  margin-top: 0;
}
.shareVehicle img{
  width: 22px;
  /*margin-right: 8px;*/
}
/*.shareVehicle span{
  color: #000000;
}
*/

.selectcarboxiner{
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    background: #ffffff;
    border-radius: 14px 0px 0px 14px;
}

.carsliderbox{
    display: inline-block;
    width: 100%;
}




.gallery-slider {
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
.gallery-slider__images {
  margin: 0;
  position: relative;
}
.gallery-slider__images .item {
  padding: 0;
}
.gallery-slider__images .item .img-fill {
  text-align: center;
  padding: 0;
  height: 200px;
}
@media screen and (min-width: 576px) {
  .gallery-slider__images .item .img-fill {
    height: 300px;
  }
}
@media screen and (min-width: 720px) {
  .gallery-slider__images .item .img-fill {
    height: 450px;
  }
}
.gallery-slider__images .item .img-fill img {
  display: inline-block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.gallery-slider__images .next-arrow, .gallery-slider__images .prev-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  border: 0 none;
  text-align: center;
  color: #FFF;
  z-index: 5;
  opacity: 0;
  transition: all 0.5s;
  outline: 0;
}
.gallery-slider__images .next-arrow svg, .gallery-slider__images .prev-arrow svg {
  top: 4px;
}
.gallery-slider__images .next-arrow {
  right: 25px;
}
.gallery-slider__images .prev-arrow {
  left: 25px;
}
.gallery-slider__images:hover .next-arrow, .gallery-slider__images:hover .prev-arrow {
  opacity: 1;
}
.gallery-slider__images .caption {
  width: 100%;
  position: relative;
  text-align: center;
  display: block;
  opacity: 1;
  transition: opacity 0.15s;
}
.gallery-slider__images .caption.hide {
  opacity: 0;
}
.gallery-slider__thumbnails {
  position: relative;
  top: auto;
  left: 0px;
  width: 100%;
  z-index: 4;
  transition: all 0.8s;
  margin: 0;
  padding: 13px 0;
}
.gallery-slider__thumbnails:before, .gallery-slider__thumbnails:after {
  content: '';
  display: block;
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  pointer-events: none;
}
.gallery-slider__thumbnails:before {
  left: 0;
  background: linear-gradient(to right, #e6e6e6 0%, rgba(230, 230, 230, 0) 100%);
}
.gallery-slider__thumbnails:after {
  right: 0;
  background: linear-gradient(to right, rgba(230, 230, 230, 0) 0%, #e6e6e6 100%);
}
.gallery-slider__thumbnails .item .img-fill {
  height: 70px;
  background: white;
  cursor: pointer;
  border: 0;
  text-align: center;
}
.gallery-slider__thumbnails .item .img-fill img {
  opacity: 0.5;
  transition: all 0.5s;
  display: inline-block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.gallery-slider__thumbnails .item:hover .img-fill img {
  opacity: 1;
}
.gallery-slider__thumbnails .item.slick-center img {
  opacity: 1;
}
.gallery-slider__thumbnails .next-arrow, .gallery-slider__thumbnails .prev-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: #FFF;
  border: 0 none;
  z-index: 15;
}
.gallery-slider__thumbnails .next-arrow svg, .gallery-slider__thumbnails .prev-arrow svg {
  top: 2px;
}
.gallery-slider__thumbnails .next-arrow {
  right: 0px;
}
.gallery-slider__thumbnails .prev-arrow {
  left: 0px;
}
.gallery-slider .next-arrow, .gallery-slider .prev-arrow {
  cursor: pointer;
}
.gallery-slider .next-arrow svg, .gallery-slider .prev-arrow svg {
  width: 18px;
  height: 18px;
  position: relative;
}
.gallery-slider .img-fill {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.gallery-slider .slick-slider {
  margin: 0;
  padding: 0;
}
.gallery-slider .slick-slide {
  float: left;
  padding: 0;
  outline: none;
}
.gallery-slider__thumbnails:before {
    content: '';
    left: 0;
    background: none;
}
.gallery-slider__thumbnails:after {
    content: '';
    right: 0;
    background: none;
}

.sldimgbox{

}
.sldthumbnailsbox{
    padding-left: 10px;
    padding-right: 10px;    
}

.nextpribtnbox{
    width: auto !important;
    text-align: center !important;
    font-family: 'Poppins-SemiBold' !important;
    color: #ffffff !important;
    font-size: 14px !important;
    padding: 7px 20px 7px !important;
    border-radius: 4px !important;
    height: auto !important;
    top: 0 !important;
    z-index: 999 !important;
    position: relative !important;
}
.prev-arrow.slick-arrow{   
    background: #01034A;    
    float: left;
}
.next-arrow.slick-arrow{  
    background: #FF6600;
    float: right;
}

.sldimgbox .item .img-fill{
    height: 325px;
}
.sldimgbox .item .img-fill img{
    border-radius: 14px 0px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sldimgbox .item .img-fill a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.sldthumbnailsbox .item .img-fill{
    height: 102px;
    padding-left: 10px;
    padding-right: 10px;
}
.sldthumbnailsbox .item .img-fill img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    opacity: 1;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    z-index: 999 !important;
    position: relative !important;
}
.sldthumbnailsbox .slick-slide{
    
}
.sldthumbnailsbox .slick-slider .slick-list{
    padding: 0 !important;
}

.backnextbtn .slick-slide{
    -webkit-transform: inherit;
    transform: inherit;
}
.backnextbtn{
    display: inline-block;
    width: 100% !important;
    margin-top: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.backnextbtn .slick-track{
    transform: inherit !important;
    width: 100% !important;
}

.sldboxtitle{
    display: inline-block;
    width: 100%;
    border-top: 1px solid #E8E8E8;
    padding-left: 20px;
    padding-top: 24px;
    margin-top: 4px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.sldboxtitle h4{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #01034A;
    font-size: 26px;
    font-family: 'Poppins-Bold';
    margin-bottom: 8px;
}
.sldboxtitle p{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #929292;
    font-size: 17px;
    font-family: 'Poppins-Regular';
}
.sldboxtitle p span{
    display: inline-block;
    float: left;
}
.sldboxtitle p img{
    display: inline-block;
    float: left;
    width: 7px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.sedoseboxset{
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;
}
.sedoseboxset ul{
    display: inline-block;
    width: 100%;
    padding-left: 0;
    margin: 0;
    border-top: 1px solid #E8E8E8;
    padding-top: 15px;
    padding-bottom: 15px;
}
.sedoseboxset ul li{
    display: inline-block;
    float: left;
    font-family: 'Poppins-Medium';
    color: #929292;
    font-size: 16px;
    width: 33.33%;
}

.midetrboxsetiner{
    display: inline-block;
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
    border-bottom: 1px solid #E8E8E8;
}
.midetrboxsetiner ul{
    display: inline-block;
    width: 100%;
    padding-left: 0;
    margin: 0;
    border-top: 1px solid #E8E8E8;
    padding-top: 18px;
    padding-bottom: 20px;
}
.midetrboxsetiner ul li{
    display: inline-block;
    float: left;
    width: 25%;
    text-align: center;
}
.midetrboxsetiner ul li img{
    width: 65px;
}
.midetrboxsetiner ul li p{
    color: #929292;
    font-family: 'Poppins-Medium';
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 16px;
}

.tabboxtsetcover{
    display: inline-block;
    width: 100%;
    padding-top: 28px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.tabboxtsetcover ul.tabs li a{
    text-transform: uppercase;
    padding-bottom: 12px;
}

.tabboxtsetcover ul.tabs li{
    margin-right: 34px;
}

.tabboxtsetcover .tab_content p{
    color: #929292;
    font-family: 'Poppins-Regular';
    width: 100%;
    margin: 0;
    font-size: 14px;
    padding-top: 15px;
}

.tabboxtsetcover ul.tabs{
    border-bottom: 0;
}
.tabboxtsetcover ul.tabs li a.active::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 40px;
    background: #FF6600;
    left: 0;
    bottom: 0px;
    border-radius: 27px;
}

.submittedbidsbox{
    position: relative;
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    background: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 14px;
    margin-bottom: 30px;
}

.submittedbids_userdit{
    display: inline-block;
    width: 100%;
}
.sbuserdeta_left{
    display: inline-block;
    width: 88px;
    height: 88px;
    border-radius: 6px;
    float: left;
}
.sbuserdeta_right{
    display: inline-block;
    width: 75%;
    float: left;
    padding-left: 18px;
    padding-top: 5px;
}


.sbuserdeta_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.sbuserdeta_right h4{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #01034A;
    font-size: 20px;
    font-family: 'Poppins-SemiBold';
    margin-bottom: 8px;
}
.sbuserdeta_right p {
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #929292;
    font-size: 17px;
    font-family: 'Poppins-Medium';
}
.sbuserdeta_right p span {
    display: inline-block;
    float: left;
}
.sbuserdeta_right p img {
    display: inline-block;
    float: left;
    width: 7px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
}


.sbboxdatetime{
    display: inline-block;
    width: 100%;
    padding-top: 4px;
}
.sbboxdatetime p{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #929292;
    font-size: 17px;
    font-family: 'Poppins-Medium';
}
.sbboxdatetime .form-group{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.sbboxdatetime .form-group .form-control{
    display: inline-block;
    width: 100%;
    background: #F4F6FA;
    border-radius: 10px;
    box-shadow: inherit;
    border: 0;
    height: 44px;
    font-family: 'Poppins-Bold';
    color: #6E6E6E;
    font-size: 16px;
}
.nodetaboxset{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 90px;
}
.nodetaboxset img{
    width: 175px;
}
.nodetaboxset h4{
    display: inline-block;
    width: 100%;
    font-family: 'Poppins-Bold';
    margin: 0;
    color: #000000;
    font-size: 25px;
    margin-bottom: 12px;
    margin-top: 20px;
}

.sellerinfobox{
    display: inline-block;
    width: 100%;
    border-top: 1px solid #E8E8E8;
    margin-top: 2px;
    padding-top: 18px;
}
.sellerinfobox p{

}
.sellerinfobox h5{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #01034A;
    font-family: 'Poppins-SemiBold';
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sellerinfobox h6{
    display: inline-block;
    width: 100%;
    margin: 0;
    font-family: 'Poppins-Medium';
    font-size: 18px;
    color: #000000;
    margin-bottom: 15px;
}
.sellerinfobox h6 img{
    width: 33px;
    float: left;
}
.sellerinfobox h6 span{
    float: left;
    margin-top: 3px;
    margin-left: 10px;
}


.sbboxdatetime .listplacebtnbox{
    margin-top: 2px;
}

.likeiconbox{
    display: inline-block;
    position: absolute;
    right: 22px;
    top: 20px;
}
.likeiconbox a{
    display: inline-block;
}
.likeiconbox a img{
    width: 36px;
}

.tabledetacoverbox table{
    font-family: 'Poppins-Regular';
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
    font-family: 'Poppins-Regular';
}


.tabboxtsetcover ul.tabs li{
    margin-right: 18px;
    margin-bottom: 10px;
}
.tabboxtsetcover ul.tabs li a{
    font-size: 15px;
}


.notfisboxcover{
  display: inline-block;
  width: 96%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
  box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
  background: #ffffff;
  border-radius: 14px;
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 18px;
  margin-bottom: 30px;
  padding-right: 25px;
}
.notfisboxcover h3{
  display: inline-block;
  width: 100%;
  color: #01034A;
  font-family: 'Poppins-Bold';
  font-size: 30px;
  margin: 0;
  margin-bottom: 20px;
}

.notfisboxiner{
  display: inline-block;
  width: 100%;
  background: #F4F6FA;
  border-radius: 6px;
  padding: 14px 20px 14px;
  position: relative;
  padding-right: 55px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.notfisboxiner p{
  display: inline-block;
  width: 100%;
  color: #6E6E6E;
  font-family: 'Poppins-Medium';
  font-size: 18px;
  margin: 0;
  margin-bottom: 9px;
}
.notfisboxiner h5{
  display: inline-block;
  width: 100%;
  color: #ACA9A9;
  font-family: 'Poppins-Regular';
  font-size: 18px;
  margin: 0;
}
.notfisboxiner h6{
  display: inline-block;
  color: #00C160;
  font-family: 'Poppins-SemiBold';
  font-size: 13px;
  margin: 0;
  background: #E6FFF3;
  border: 1px solid #00C160;
  border-radius: 4px;
  position: absolute;
  right: 14px;
  bottom: 16px;
  padding: 3px 5px 2px;
}





#sidebarWrap{
  padding-top: 20px;
}
#sidebar{
  padding-top: 12px;
  padding-bottom: 50px;
}
#sidebar::-webkit-scrollbar {
    background-color:#fff;
    width:0;
}
#sidebar::-webkit-scrollbar-track {
    background-color:#fff;
}
#sidebar::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4;
}
#sidebar::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:0;
    border:0 solid #fff;
}
#sidebar::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:0 solid #f4f4f4;
}
#sidebar::-webkit-scrollbar-button {display:none}




#lg-actual-size:after {
  content: "\f24d" !important;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}
#lg-zoom-out:after {
  content: "\f010" !important;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}
#lg-zoom-in:after {
  content: "\f00e" !important;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}
.lg-autoplay-button:after {
  content: "\f01d" !important;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}
.lg-fullscreen:after {
  content: "\f0b2" !important;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}
.lg-toolbar .lg-download:after {
  content: "\f019" !important;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}
.lg-toolbar .lg-close:after {
  content: "\f00d" !important;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
}


.lg-actions .lg-prev:after {
  content: "\f177" !important;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lg-actions .lg-next:before {
  content: "\f178" !important;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lg-outer .lg-toogle-thumb:after {
  content: "\f00a" !important;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lg-outer.lg-pull-caption-up .lg-sub-html{
  font-family: 'Poppins-Medium';
}
#lg-counter{
  font-family: 'Poppins-Regular';
}





/*** left right side bar css ***/
body, html {
    font-size: 13px;
    width: 100%;
    height: 100%;
}
.leftbar_rightbarcover {
    min-height: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.leftsidebarbox {
    min-height: 100%;
    float: left;
    width: 295px;
    border-right: 1px solid #e5e9ec;
    background: #fff;
    z-index: 9;
}
.rightdetailpart{
    position: relative;
    padding: 0;
    width: calc(100% - 0px);
    float: right;
    padding-left: 294px;
    position: absolute;
    height: 100%;
}
/*** left right side bar css ***/


.rightdetailpart .delspselimabox{
  margin-top: 0;
}

.usertextinrbtnbox {
  display: inline-block;
  float: right;
 width: 100%;
  margin-top: 12px;
}
.usertextinrbtnbox p {
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #929292;
    font-size: 18px;
    font-family: 'Poppins-Medium';
}
.usertextinrbtnbox p span {
    display: inline-block;
    float: left;
}
.usertextinrbtnbox span b{
  font-family: 'Poppins-SemiBold';
}
.usertextinrbtnbox .bidsCount{
  padding-left: 3px;
}
.bidsCount {
  color: #01034A;
  font-family: 'Poppins-SemiBold';
}



.toast-message{
  font-family: 'Poppins-Regular';
}



.backbtnboxset{
  display: inline-block;
  width: 100%;
  margin-top: 12px;
}
.backbtnboxset a{
  display: inline-block;
  color: #FF6600;
    font-family: 'Poppins-SemiBold';
    font-size: 18px;
    padding: 8px 16px 8px;
    background: #ffffff;
}
.backbtnboxset a img{
  width: 26px;
    float: left;
    margin-top: 5px;
    margin-right: 14px;
}
.backbtnboxset a span{
  float: left;
}

.allvildetacover{
  display: inline-block;
  width: 100%;
  margin-top: 38px;
  margin-bottom: 35px;
}
.allvildetacover .sldimgbox .item .img-fill img{
  border-radius: 14px 14px 0 0;
}
.allvildetacover .selectcarboxiner{
  border-radius: 14px 14px 14px 14px;
}
.allvildetacover .alldetacoverhompg{
  text-align: center;
}
.allvildetacover .selectcarboxiner{
  text-align: left;
  width: 680px;
}


.select2-container{box-sizing:border-box;display:inline-block;margin:0;position:relative;vertical-align:middle}.select2-container .select2-selection--single{box-sizing:border-box;cursor:pointer;display:block;height:28px;user-select:none;-webkit-user-select:none}.select2-container .select2-selection--single .select2-selection__rendered{display:block;padding-left:8px;padding-right:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.select2-container .select2-selection--single .select2-selection__clear{position:relative}.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered{padding-right:8px;padding-left:20px}.select2-container .select2-selection--multiple{box-sizing:border-box;cursor:pointer;display:block;min-height:32px;user-select:none;-webkit-user-select:none}.select2-container .select2-selection--multiple .select2-selection__rendered{display:inline-block;overflow:hidden;padding-left:8px;text-overflow:ellipsis;white-space:nowrap}.select2-container .select2-search--inline{float:left}.select2-container .select2-search--inline .select2-search__field{box-sizing:border-box;border:none;font-size:100%;margin-top:5px;padding:0}.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button{-webkit-appearance:none}.select2-dropdown{background-color:white;border:1px solid #aaa;border-radius:4px;box-sizing:border-box;display:block;position:absolute;left:-100000px;width:100%;z-index:1051}.select2-results{display:block}.select2-results__options{list-style:none;margin:0;padding:0}.select2-results__option{padding:6px;user-select:none;-webkit-user-select:none}.select2-results__option[aria-selected]{cursor:pointer}.select2-container--open .select2-dropdown{left:0}.select2-container--open .select2-dropdown--above{border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0}.select2-container--open .select2-dropdown--below{border-top:none;border-top-left-radius:0;border-top-right-radius:0}.select2-search--dropdown{display:block;padding:4px}.select2-search--dropdown .select2-search__field{padding:4px;width:100%;box-sizing:border-box}.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button{-webkit-appearance:none}.select2-search--dropdown.select2-search--hide{display:none}.select2-close-mask{border:0;margin:0;padding:0;display:block;position:fixed;left:0;top:0;min-height:100%;min-width:100%;height:auto;width:auto;opacity:0;z-index:99;background-color:#fff;filter:alpha(opacity=0)}.select2-hidden-accessible{border:0 !important;clip:rect(0 0 0 0) !important;-webkit-clip-path:inset(50%) !important;clip-path:inset(50%) !important;height:1px !important;overflow:hidden !important;padding:0 !important;position:absolute !important;width:1px !important;white-space:nowrap !important}.select2-container--default .select2-selection--single{background-color:#fff;border:1px solid #aaa;border-radius:4px}.select2-container--default .select2-selection--single .select2-selection__rendered{color:#444;line-height:28px}.select2-container--default .select2-selection--single .select2-selection__clear{cursor:pointer;float:right;font-weight:bold}.select2-container--default .select2-selection--single .select2-selection__placeholder{color:#999}.select2-container--default .select2-selection--single .select2-selection__arrow{height:26px;position:absolute;top:1px;right:1px;width:20px}.select2-container--default .select2-selection--single .select2-selection__arrow b{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;height:0;left:50%;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0}.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear{float:left}.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow{left:1px;right:auto}.select2-container--default.select2-container--disabled .select2-selection--single{background-color:#eee;cursor:default}.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear{display:none}.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px}.select2-container--default .select2-selection--multiple{background-color:white;border:1px solid #aaa;border-radius:4px;cursor:text}.select2-container--default .select2-selection--multiple .select2-selection__rendered{box-sizing:border-box;list-style:none;margin:0;padding:0 5px;width:100%}.select2-container--default .select2-selection--multiple .select2-selection__rendered li{list-style:none}.select2-container--default .select2-selection--multiple .select2-selection__clear{cursor:pointer;float:right;font-weight:bold;margin-top:5px;margin-right:10px;padding:1px}.select2-container--default .select2-selection--multiple .select2-selection__choice{background-color:#e4e4e4;border:1px solid #aaa;border-radius:4px;cursor:default;float:left;margin-right:5px;margin-top:5px;padding:0 5px}.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{color:#999;cursor:pointer;display:inline-block;font-weight:bold;margin-right:2px}.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{color:#333}.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline{float:right}.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice{margin-left:5px;margin-right:auto}.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{margin-left:2px;margin-right:auto}.select2-container--default.select2-container--focus .select2-selection--multiple{border:solid black 1px;outline:0}.select2-container--default.select2-container--disabled .select2-selection--multiple{background-color:#eee;cursor:default}.select2-container--default.select2-container--disabled .select2-selection__choice__remove{display:none}.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple{border-top-left-radius:0;border-top-right-radius:0}.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-bottom-left-radius:0;border-bottom-right-radius:0}.select2-container--default .select2-search--dropdown .select2-search__field{border:1px solid #aaa}.select2-container--default .select2-search--inline .select2-search__field{background:transparent;border:none;outline:0;box-shadow:none;-webkit-appearance:textfield}.select2-container--default .select2-results>.select2-results__options{max-height:200px;overflow-y:auto}.select2-container--default .select2-results__option[role=group]{padding:0}.select2-container--default .select2-results__option[aria-disabled=true]{color:#999}.select2-container--default .select2-results__option[aria-selected=true]{background-color:#ddd}.select2-container--default .select2-results__option .select2-results__option{padding-left:1em}.select2-container--default .select2-results__option .select2-results__option .select2-results__group{padding-left:0}.select2-container--default .select2-results__option .select2-results__option .select2-results__option{margin-left:-1em;padding-left:2em}.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-2em;padding-left:3em}.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-3em;padding-left:4em}.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-4em;padding-left:5em}.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{margin-left:-5em;padding-left:6em}.select2-container--default .select2-results__option--highlighted[aria-selected]{background-color:#5897fb;color:white}.select2-container--default .select2-results__group{cursor:default;display:block;padding:6px}.select2-container--classic .select2-selection--single{background-color:#f7f7f7;border:1px solid #aaa;border-radius:4px;outline:0;background-image:-webkit-linear-gradient(top, #fff 50%, #eee 100%);background-image:-o-linear-gradient(top, #fff 50%, #eee 100%);background-image:linear-gradient(to bottom, #fff 50%, #eee 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)}.select2-container--classic .select2-selection--single:focus{border:1px solid #5897fb}.select2-container--classic .select2-selection--single .select2-selection__rendered{color:#444;line-height:28px}.select2-container--classic .select2-selection--single .select2-selection__clear{cursor:pointer;float:right;font-weight:bold;margin-right:10px}.select2-container--classic .select2-selection--single .select2-selection__placeholder{color:#999}.select2-container--classic .select2-selection--single .select2-selection__arrow{background-color:#ddd;border:none;border-left:1px solid #aaa;border-top-right-radius:4px;border-bottom-right-radius:4px;height:26px;position:absolute;top:1px;right:1px;width:20px;background-image:-webkit-linear-gradient(top, #eee 50%, #ccc 100%);background-image:-o-linear-gradient(top, #eee 50%, #ccc 100%);background-image:linear-gradient(to bottom, #eee 50%, #ccc 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0)}.select2-container--classic .select2-selection--single .select2-selection__arrow b{border-color:#888 transparent transparent transparent;border-style:solid;border-width:5px 4px 0 4px;height:0;left:50%;margin-left:-4px;margin-top:-2px;position:absolute;top:50%;width:0}.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear{float:left}.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow{border:none;border-right:1px solid #aaa;border-radius:0;border-top-left-radius:4px;border-bottom-left-radius:4px;left:1px;right:auto}.select2-container--classic.select2-container--open .select2-selection--single{border:1px solid #5897fb}.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow{background:transparent;border:none}.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color:transparent transparent #888 transparent;border-width:0 4px 5px 4px}.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single{border-top:none;border-top-left-radius:0;border-top-right-radius:0;background-image:-webkit-linear-gradient(top, #fff 0%, #eee 50%);background-image:-o-linear-gradient(top, #fff 0%, #eee 50%);background-image:linear-gradient(to bottom, #fff 0%, #eee 50%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)}.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single{border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0;background-image:-webkit-linear-gradient(top, #eee 50%, #fff 100%);background-image:-o-linear-gradient(top, #eee 50%, #fff 100%);background-image:linear-gradient(to bottom, #eee 50%, #fff 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)}.select2-container--classic .select2-selection--multiple{background-color:white;border:1px solid #aaa;border-radius:4px;cursor:text;outline:0}.select2-container--classic .select2-selection--multiple:focus{border:1px solid #5897fb}.select2-container--classic .select2-selection--multiple .select2-selection__rendered{list-style:none;margin:0;padding:0 5px}.select2-container--classic .select2-selection--multiple .select2-selection__clear{display:none}.select2-container--classic .select2-selection--multiple .select2-selection__choice{background-color:#e4e4e4;border:1px solid #aaa;border-radius:4px;cursor:default;float:left;margin-right:5px;margin-top:5px;padding:0 5px}.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove{color:#888;cursor:pointer;display:inline-block;font-weight:bold;margin-right:2px}.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover{color:#555}.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice{float:right;margin-left:5px;margin-right:auto}.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{margin-left:2px;margin-right:auto}.select2-container--classic.select2-container--open .select2-selection--multiple{border:1px solid #5897fb}.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple{border-top:none;border-top-left-radius:0;border-top-right-radius:0}.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple{border-bottom:none;border-bottom-left-radius:0;border-bottom-right-radius:0}.select2-container--classic .select2-search--dropdown .select2-search__field{border:1px solid #aaa;outline:0}.select2-container--classic .select2-search--inline .select2-search__field{outline:0;box-shadow:none}.select2-container--classic .select2-dropdown{background-color:#fff;border:1px solid transparent}.select2-container--classic .select2-dropdown--above{border-bottom:none}.select2-container--classic .select2-dropdown--below{border-top:none}.select2-container--classic .select2-results>.select2-results__options{max-height:200px;overflow-y:auto}.select2-container--classic .select2-results__option[role=group]{padding:0}.select2-container--classic .select2-results__option[aria-disabled=true]{color:grey}.select2-container--classic .select2-results__option--highlighted[aria-selected]{background-color:#3875d7;color:#fff}.select2-container--classic .select2-results__group{cursor:default;display:block;padding:6px}.select2-container--classic.select2-container--open .select2-dropdown{border-color:#5897fb}

.toast-title{font-weight:700}.toast-message{-ms-word-wrap:break-word;word-wrap:break-word}.toast-message a,.toast-message label{color:#FFF}.toast-message a:hover{color:#CCC;text-decoration:none}.toast-close-button{position:relative;right:-.3em;top:-.3em;float:right;font-size:20px;font-weight:700;color:#FFF;-webkit-text-shadow:0 1px 0 #fff;text-shadow:0 1px 0 #fff;opacity:.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);filter:alpha(opacity=80);line-height:1}.toast-close-button:focus,.toast-close-button:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.4;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);filter:alpha(opacity=40)}.rtl .toast-close-button{left:-.3em;float:left;right:.3em}button.toast-close-button{padding:0;cursor:pointer;background:0 0;border:0;-webkit-appearance:none}.toast-top-center{top:0;right:0;width:100%}.toast-bottom-center{bottom:0;right:0;width:100%}.toast-top-full-width{top:0;right:0;width:100%}.toast-bottom-full-width{bottom:0;right:0;width:100%}.toast-top-left{top:12px;left:12px}.toast-top-right{top:12px;right:12px}.toast-bottom-right{right:12px;bottom:12px}.toast-bottom-left{bottom:12px;left:12px}#toast-container{position:fixed;z-index:999999;pointer-events:none}#toast-container *{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}#toast-container>div{position:relative;pointer-events:auto;overflow:hidden;margin:0 0 6px;padding:15px 15px 15px 50px;width:300px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-position:15px center;background-repeat:no-repeat;-moz-box-shadow:0 0 12px #999;-webkit-box-shadow:0 0 12px #999;box-shadow:0 0 12px #999;color:#FFF;opacity:.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);filter:alpha(opacity=80)}#toast-container>div.rtl{direction:rtl;padding:15px 50px 15px 15px;background-position:right 15px center}#toast-container>div:hover{-moz-box-shadow:0 0 12px #000;-webkit-box-shadow:0 0 12px #000;box-shadow:0 0 12px #000;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);filter:alpha(opacity=100);cursor:pointer}#toast-container>.toast-info{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=)!important}#toast-container>.toast-error{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=)!important}#toast-container>.toast-success{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==)!important}#toast-container>.toast-warning{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=)!important}#toast-container.toast-bottom-center>div,#toast-container.toast-top-center>div{width:300px;margin-left:auto;margin-right:auto}#toast-container.toast-bottom-full-width>div,#toast-container.toast-top-full-width>div{width:96%;margin-left:auto;margin-right:auto}.toast{background-color:#030303}.toast-success{background-color:#51A351}.toast-error{background-color:#BD362F}.toast-info{background-color:#2F96B4}.toast-warning{background-color:#F89406}.toast-progress{position:absolute;left:0;bottom:0;height:4px;background-color:#000;opacity:.4;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);filter:alpha(opacity=40)}@media all and (max-width:240px){#toast-container>div{padding:8px 8px 8px 50px;width:11em}#toast-container>div.rtl{padding:8px 50px 8px 8px}#toast-container .toast-close-button{right:-.2em;top:-.2em}#toast-container .rtl .toast-close-button{left:-.2em;right:.2em}}@media all and (min-width:241px) and (max-width:480px){#toast-container>div{padding:8px 8px 8px 50px;width:18em}#toast-container>div.rtl{padding:8px 50px 8px 8px}#toast-container .toast-close-button{right:-.2em;top:-.2em}#toast-container .rtl .toast-close-button{left:-.2em;right:.2em}}@media all and (min-width:481px) and (max-width:768px){#toast-container>div{padding:15px 15px 15px 50px;width:25em}#toast-container>div.rtl{padding:15px 50px 15px 15px}}