body{

}
ul.vehicleListTimer {
    display: inline-block;
    width: 100%;
    padding-left: 0;
    margin: 0;
    margin-top: 14px;
}

.vehicleListTimer li {
    display: inline-block;
    float: left;
    width: auto;
    text-align: left;
}

.vehicleListTimer li h4 {
    color: #00C160;
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 22px;
    font-family: 'Poppins-Bold';
}

.vehicleListTimer li p {
    color: #929292;
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 17px;
    font-family: 'Poppins-Regular';
}

.allloginformcover {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 62px;
    text-align: center;
}
.signup_innerbox {
    display: inline-block;
    width: 38%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    border-radius: 14px;
    background: #ffffff;
    width: 450px;
    padding: 30px 25px 35px;
    text-align: left;
}
.login_toplogobox {
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
}
.login_toplogobox img {
    width: 135px;
}
.login_toplogobox h3 {
    margin: 0px;
    font-size: 24px;
    font-family: 'Poppins-Medium';
    color: #FF6600;
    padding-top: 18px;
}
.login_toplogobox p {
    margin: 0px;
    font-size: 15px;
    font-family: 'Poppins-Regular';
    color: #FF6600;
    padding-top: 7px;
}
.logindetail_inputbox {
    display: inline-block;
    width: 100%;
    float: left;
    padding-bottom: 15px;
}
.logindetail_inputbox p {
    margin: 0px;
    padding-bottom: 7px;
    text-align: left;
    float: left;

    color: #746F81;
    font-family: 'Poppins-Regular';
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: normal
}
.logindetail_inputbox input {
    font-family: 'Poppins-Regular';
    border: 2px solid #EBEBEB;
    height: 42px;
    border-radius: 10px;
    font-family: 'Poppins-Medium';
    font-size: 16px;
    color: #000000;
    box-shadow: inherit;
    margin-top: 0;
}
.logindetail_inputbox .form-control:focus {
    box-shadow: inherit !important;
    border-color: #EBEBEB;
}
.customcheck {
    display: inline-block;
    /*width: 100%;*/
}
.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(255, 173, 71) !important;
    font-family: 'Poppins-Regular' !important;
}
.form-control:focus {
    border-color: rgb(255, 173, 71) !important;
}
.checkcontainer {
    font-weight: normal;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    font-family: 'Poppins-Regular';
    display: inline-block;
    float: left;
}
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
}
.signbtn_box {
    display: inline-block;
    width: 100%;
    margin-top: 24px;
    text-align: center;
}
.signbtn_box button {
    color: #fff;
    border: 0px;
    border-radius: 4px;
    font-family: 'Poppins-Regular';
    font-size: 17px;
    padding: 7px 22px 7px;
    background: #FF6600;
}

.tabledetacoverbox{
    display: inline-block;
    width: 97.3%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    background: #ffffff;
    border-radius: 14px;
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 26px;
    margin-bottom: 30px;
    padding-right: 30px;
}

.tabledetacoverbox h3{
    display: inline-block;
    width: 100%;
    color: #01034A;
    font-family: 'Poppins-SemiBold';
    font-size: 28px;
    margin: 0;
    margin-bottom: 25px;
}



.tabledetacoverbox table tbody td a{
    color: #01034A;
}


.leftbar_rightbarcover{
    display: inline-block;
    width: 100%;
    float: left;
    position: relative;
}

.sldthumbnailsbox{
    display: inline-block;
}
.sldthumbnailsbox .item .img-fill{
    padding-left: 12px;
    padding-right: 12px;
}
.tab_content{
    height: 0;
}
.tab_content_active{
    height: auto;
}

.tabledetacoverbox table{
    font-family: 'Poppins-Regular';
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
    font-family: 'Poppins-Regular';
}

.tabboxtsetcover ul.tabs li{
    margin-right: 24px;
}
.tabboxtsetcover ul.tabs li a{
    font-size: 17px;
}


/*** left right side bar css ***/
body, html {
    font-size: 13px;
    width: 100%;
    height: 100%;
}
.leftbar_rightbarcover {
    min-height: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.leftsidebarbox {
    min-height: 100%;
    float: left;
    width: 295px;
    border-right: 1px solid #e5e9ec;
    background: #fff;
    z-index: 9;
}
.rightdetailpart{
    position: relative;
    padding: 0;
    width: calc(100% - 0px);
    float: right;
    padding-left: 294px;
}
/*** left right side bar css ***/



/*** checkbox css ***/
.customcheck{
    display: inline-block;
    width: 100%;
}
.checkcontainer {
    font-weight: normal;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
    font-family: 'Poppins-Regular';
    display: inline-block;
    float: left;
}
.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
}
.checkcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkcontainer input:checked ~ .checkmark {
  background-color: #FF6600;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkcontainer input:checked ~ .checkmark:after {
  display: block;
}
.checkcontainer .checkmark:after {
    left: 8px;
    top: 4px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*** checkbox css ***/
