

::-webkit-scrollbar {
    background-color:#fff;
    width:13px;
}
::-webkit-scrollbar-track {
    background-color:#fff;
}
::-webkit-scrollbar-track:hover {
    background-color:#f4f4f4;
}
::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    border:5px solid #fff;
}
::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
    border:4px solid #f4f4f4;
}
::-webkit-scrollbar-button {display:none}

.modal-footer{
  border-top: none !important;
}

.modal-title{
  font-family: 'Poppins-Bold';
}

.modal-body .inputwidthsetfull .form-group label {
    font-family: 'Poppins-Medium';
}

.modal-body .inputwidthsetfull .form-group input {
    font-family: 'Poppins-Medium';
}

body{
    background: rgba(244, 246, 250, 0.81);
}
.leftbar_rightbarcover{
    display: inline-block;
    width: 100%;
    float: left;
    position: relative;
}
.leftsidebarbox{
    display: inline-block;
    width: 295px;
    height: 100%;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    border-right: 1px solid #D2D2D2;
}
.rightdetailpart{
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 294px;
}

.menuboxsidbar{
    display: inline-block;
    width: 100%;

}
.menuboxsidbar ul{
    display: inline-block;
    width: 100%;
    padding-left: 0;
    margin: 0;
    padding-top: 28px;
    padding-left: 15px;
    padding-right: 15px;
}
.menuboxsidbar ul li{
    display: inline-block;
    width: 100%;
}
.menuboxsidbar ul li a{
    display: inline-block;
    width: 100%;
    color: #6E6E6E;
    font-family: 'Poppins-Medium';
    font-size: 17px;
    padding: 10px 10px 10px;
    border-radius: 6px;
}
.menuboxsidbar ul li img{
    float: left;
    width: 34px;
    margin-right: 12px;
}
.menuboxsidbar ul li span{
    float: left;
    margin-top: 4px;
}

.menuboxsidbar ul li.active{
    
}
.menuboxsidbar ul li.active a{
    color: #01034A;
    font-family: 'Poppins-SemiBold';
    background: #F1F1FF;
}
.active_icon{
    display: none;
}
.inactive_icon{
    display: inline-block;
}
.menuboxsidbar ul li.active a .active_icon{
    display: inline-block;
}
.menuboxsidbar ul li.active a .inactive_icon{
    display: none;
}

.boxandditboxcover{
    display: inline-block;
    width: 100%;
    padding-top: 32px;
    padding-left: 28px;
}
.boxandditbox_left{
    display: inline-block;
    width: 50%;
    float: left;
    padding-right: 14px;
}
.boxandditbox_right{
    display: inline-block;
    width: 50%;
    float: left;
    padding-left: 14px;
}

.congrttextbox{
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    background: #ffffff;
    border-radius: 14px;
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 26px;
    margin-bottom: 30px;
}
.congrttextbox h3{
    display: inline-block;
    width: 100%;
    color: #00C160;
    font-family: 'Poppins-Bold';
    font-size: 30px;
    margin: 0;
}
.congrttextbox p{
    display: inline-block;
    width: 100%;
    color: #6E6E6E;
    font-family: 'Poppins-Medium';
    font-size: 18px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
}
.congrttextbox a{
    background: #FF6600;
    font-family: 'Poppins-SemiBold';
    color: #ffffff;
    padding: 7px 16px 7px;
    display: inline-block;
    border-radius: 4px;
}


.hurryupbox{
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    background: #ffffff;
    border-radius: 14px;
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 18px;
    margin-bottom: 30px;
}
.hurryupbox h3{
    display: inline-block;
    width: 100%;
    color: #01034A;
    font-family: 'Poppins-Bold';
    font-size: 30px;
    margin: 0;
}
.hurryupbox p{
    display: inline-block;
    width: 100%;
    color: #6E6E6E;
    font-family: 'Poppins-Medium';
    font-size: 18px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 0;
}
.hurryupbox ul{
    display: inline-block;
    width: 100%;
    padding-left: 0;
    margin: 0;
    margin-top: 14px;
}
.hurryupbox ul li{
    display: inline-block;
    float: left;
    width: auto;
    text-align: left;
}
.hurryupbox ul li h4{
    color: #00C160;
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 22px;
    font-family: 'Poppins-Bold';
}
.hurryupbox ul li p{
    color: #929292;
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 17px;
    font-family: 'Poppins-Regular';
}

.veiableboxset{
    display: inline-block;
    width: 100%;
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    background: #ffffff;
    border-radius: 14px;
    border-bottom: 1px solid #E8E8E8;
}
.veiablebox_title{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
}
.veiablebox_title h3{
    color: #6E6E6E;
    display: inline-block;
    width: 100%;
    font-family: 'Poppins-SemiBold';
    font-size: 18px;
    margin: 0;
}


.vehiclesdetaboxcover{
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.vehiclesdetaboxiner{
    display: inline-block;
    width: 100%;
    max-height: 828px;
    overflow: auto;
}

.userimgtextbox{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    padding-left: 25px;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-right: 20px;
}
.userimgtextbox.active{
    background: #F4F6FA;
}
.userimgbox{
    display: inline-block;
    width: 88px;
    height: 88px;
    border-radius: 6px;
    float: left;
}

.userimgbox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.usertextbox{
    display: inline-block;
    width: 75%;
    float: left;
    padding-left: 18px;
    padding-top: 5px;
}
.usertextbox h4{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #01034A;
    font-size: 20px;
    font-family: 'Poppins-SemiBold';
    margin-bottom: 8px;
}
.usertextbox p{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #929292;
    font-size: 17px;
    font-family: 'Poppins-Medium';
}
.usertextbox p span{
    display: inline-block;
    float: left;
}
.usertextbox p img{
    display: inline-block;
    float: left;
    width: 7px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
}


.listplacebtnbox{
    display: inline-block;
    width: 100%;
    margin-top: 18px;
}
.listplacebtnbox button{
  display: inline-block;
    color: #ffffff;
    font-family: 'Poppins-SemiBold';
    font-size: 16px;
    padding: 8px 16px 8px;
    border-radius: 6px;
    margin-right: 22px;
    float: left;
    border: none;
}
.listplacebtnbox a{
    display: inline-block;
    color: #ffffff;
    font-family: 'Poppins-SemiBold';
    font-size: 16px;
    padding: 8px 16px 8px;
    border-radius: 6px;
    margin-right: 22px;
    float: left;
}
.listingditbtn{
    background: #FF6600;
}
.placebidbtn{
    background: #00C160;
}

.selectcarboxiner{
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    background: #ffffff;
    border-radius: 14px 0px 0px 14px;
}

.carsliderbox{
    display: inline-block;
    width: 100%;
}




.gallery-slider {
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
.gallery-slider__images {
  margin: 0;
  position: relative;
}
.gallery-slider__images .item {
  padding: 0;
}
.gallery-slider__images .item .img-fill {
  text-align: center;
  padding: 0;
  height: 200px;
}
@media screen and (min-width: 576px) {
  .gallery-slider__images .item .img-fill {
    height: 300px;
  }
}
@media screen and (min-width: 720px) {
  .gallery-slider__images .item .img-fill {
    height: 450px;
  }
}
.gallery-slider__images .item .img-fill img {
  display: inline-block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.gallery-slider__images .next-arrow, .gallery-slider__images .prev-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  border: 0 none;
  text-align: center;
  color: #FFF;
  z-index: 5;
  opacity: 0;
  transition: all 0.5s;
  outline: 0;
}
.gallery-slider__images .next-arrow svg, .gallery-slider__images .prev-arrow svg {
  top: 4px;
}
.gallery-slider__images .next-arrow {
  right: 25px;
}
.gallery-slider__images .prev-arrow {
  left: 25px;
}
.gallery-slider__images:hover .next-arrow, .gallery-slider__images:hover .prev-arrow {
  opacity: 1;
}
.gallery-slider__images .caption {
  width: 100%;
  position: relative;
  text-align: center;
  display: block;
  opacity: 1;
  transition: opacity 0.15s;
}
.gallery-slider__images .caption.hide {
  opacity: 0;
}
.gallery-slider__thumbnails {
  position: relative;
  top: auto;
  left: 0px;
  width: 100%;
  z-index: 4;
  transition: all 0.8s;
  margin: 0;
  padding: 13px 0;
}
.gallery-slider__thumbnails:before, .gallery-slider__thumbnails:after {
  content: '';
  display: block;
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  pointer-events: none;
}
.gallery-slider__thumbnails:before {
  left: 0;
  background: linear-gradient(to right, #e6e6e6 0%, rgba(230, 230, 230, 0) 100%);
}
.gallery-slider__thumbnails:after {
  right: 0;
  background: linear-gradient(to right, rgba(230, 230, 230, 0) 0%, #e6e6e6 100%);
}
.gallery-slider__thumbnails .item .img-fill {
  height: 70px;
  background: white;
  cursor: pointer;
  border: 0;
  text-align: center;
}
.gallery-slider__thumbnails .item .img-fill img {
  opacity: 0.5;
  transition: all 0.5s;
  display: inline-block;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.gallery-slider__thumbnails .item:hover .img-fill img {
  opacity: 1;
}
.gallery-slider__thumbnails .item.slick-center img {
  opacity: 1;
}
.gallery-slider__thumbnails .next-arrow, .gallery-slider__thumbnails .prev-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: #FFF;
  border: 0 none;
  z-index: 15;
}
.gallery-slider__thumbnails .next-arrow svg, .gallery-slider__thumbnails .prev-arrow svg {
  top: 2px;
}
.gallery-slider__thumbnails .next-arrow {
  right: 0px;
}
.gallery-slider__thumbnails .prev-arrow {
  left: 0px;
}
.gallery-slider .next-arrow, .gallery-slider .prev-arrow {
  cursor: pointer;
}
.gallery-slider .next-arrow svg, .gallery-slider .prev-arrow svg {
  width: 18px;
  height: 18px;
  position: relative;
}
.gallery-slider .img-fill {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.gallery-slider .slick-slider {
  margin: 0;
  padding: 0;
}
.gallery-slider .slick-slide {
  float: left;
  padding: 0;
  outline: none;
}
.gallery-slider__thumbnails:before {
    content: '';
    left: 0;
    background: none;
}
.gallery-slider__thumbnails:after {
    content: '';
    right: 0;
    background: none;
}

.sldimgbox{

}
.sldthumbnailsbox{
    padding-left: 10px;
    padding-right: 10px;    
}

.nextpribtnbox{
    width: auto !important;
    text-align: center !important;
    font-family: 'Poppins-SemiBold' !important;
    color: #ffffff !important;
    font-size: 14px !important;
    padding: 7px 20px 7px !important;
    border-radius: 4px !important;
    height: auto !important;
    top: 0 !important;
    z-index: 999 !important;
    position: relative !important;
}
.prev-arrow.slick-arrow{   
    background: #01034A;    
    float: left;
}
.next-arrow.slick-arrow{  
    background: #FF6600;
    float: right;
}

.sldimgbox .item .img-fill{
    height: 325px;
}
.sldimgbox .item .img-fill img{
    border-radius: 14px 0px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sldthumbnailsbox .item .img-fill{
    height: 102px;
    padding-left: 10px;
    padding-right: 10px;
}
.sldthumbnailsbox .item .img-fill img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    opacity: 1;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    z-index: 999 !important;
    position: relative !important;
}
.sldthumbnailsbox .slick-slide{
    
}
.sldthumbnailsbox .slick-slider .slick-list{
    padding: 0 !important;
}

.backnextbtn .slick-slide{
    -webkit-transform: inherit;
    transform: inherit;
}
.backnextbtn{
    display: inline-block;
    width: 100% !important;
    margin-top: 20px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.backnextbtn .slick-track{
    transform: inherit !important;
    width: 100% !important;
}

.sldboxtitle{
    display: inline-block;
    width: 100%;
    border-top: 1px solid #E8E8E8;
    padding-left: 20px;
    padding-top: 24px;
    margin-top: 4px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.sldboxtitle h4{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #01034A;
    font-size: 26px;
    font-family: 'Poppins-Bold';
    margin-bottom: 8px;
}
.sldboxtitle p{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #929292;
    font-size: 17px;
    font-family: 'Poppins-Regular';
}
.sldboxtitle p span{
    display: inline-block;
    float: left;
}
.sldboxtitle p img{
    display: inline-block;
    float: left;
    width: 7px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.sedoseboxset{
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;
}
.sedoseboxset ul{
    display: inline-block;
    width: 100%;
    padding-left: 0;
    margin: 0;
    border-top: 1px solid #E8E8E8;
    padding-top: 15px;
    padding-bottom: 15px;
}
.sedoseboxset ul li{
    display: inline-block;
    float: left;
    font-family: 'Poppins-Medium';
    color: #929292;
    font-size: 16px;
    width: 33.33%;
}

.midetrboxsetiner{
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    padding-right: 40px;
    border-bottom: 1px solid #E8E8E8;
}
.midetrboxsetiner ul{
    display: inline-block;
    width: 100%;
    padding-left: 0;
    margin: 0;
    border-top: 1px solid #E8E8E8;
    padding-top: 18px;
    padding-bottom: 20px;
}
.midetrboxsetiner ul li{
    display: inline-block;
    float: left;
    width: 30%;
    text-align: center;
}
.midetrboxsetiner ul li img{
    width: 65px;
}
.midetrboxsetiner ul li p{
    color: #929292;
    font-family: 'Poppins-Medium';
    display: inline-block;
    width: 100%;
    margin: 0;
    font-size: 16px;
}

.tabboxtsetcover{
    display: inline-block;
    width: 100%;
    padding-top: 28px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.tabboxtsetcover ul.tabs li a{
    text-transform: uppercase;
    padding-bottom: 6px;
}

.tabboxtsetcover ul.tabs li{
    margin-right: 34px;
}

.tabboxtsetcover .tab_content p{
    color: #929292;
    font-family: 'Poppins-Regular';
    width: 100%;
    margin: 0;
    font-size: 14px;
    padding-top: 15px;
}

.tabboxtsetcover ul.tabs{
    border-bottom: 0;
}
.tabboxtsetcover ul.tabs li a.active::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 40px;
    background: #FF6600;
    left: 0;
    bottom: 0px;
    border-radius: 27px;
}

.submittedbidsbox{
    position: relative;
    display: inline-block;
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    background: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 14px;
    margin-bottom: 30px;
}

.submittedbids_userdit{
    display: inline-block;
    width: 100%;
}
.sbuserdeta_left{
    display: inline-block;
    width: 88px;
    height: 88px;
    border-radius: 6px;
    float: left;
}
.sbuserdeta_right{
    display: inline-block;
    width: 75%;
    float: left;
    padding-left: 18px;
    padding-top: 5px;
}


.sbuserdeta_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.sbuserdeta_right h4{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #01034A;
    font-size: 20px;
    font-family: 'Poppins-SemiBold';
    margin-bottom: 8px;
}
.sbuserdeta_right p {
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #929292;
    font-size: 17px;
    font-family: 'Poppins-Medium';
}
.sbuserdeta_right p span {
    display: inline-block;
    float: left;
}
.sbuserdeta_right p img {
    display: inline-block;
    float: left;
    width: 7px;
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
}


.sbboxdatetime{
    display: inline-block;
    width: 100%;
    padding-top: 4px;
}
.sbboxdatetime p{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #929292;
    font-size: 17px;
    font-family: 'Poppins-Medium';
}
.sbboxdatetime .form-group{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.sbboxdatetime .form-group .form-control{
    display: inline-block;
    width: 100%;
    background: #F4F6FA;
    border-radius: 10px;
    box-shadow: inherit;
    border: 0;
    height: 44px;
    font-family: 'Poppins-SemiBold';
    color: #6E6E6E;
    font-size: 16px;
}
.nodetaboxset{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 90px;
}
.nodetaboxset img{
    width: 175px;
}
.nodetaboxset h4{
    display: inline-block;
    width: 100%;
    font-family: 'Poppins-Bold';
    margin: 0;
    color: #000000;
    font-size: 25px;
    margin-bottom: 12px;
    margin-top: 20px;
}

.sellerinfobox{
    display: inline-block;
    width: 100%;
    border-top: 1px solid #E8E8E8;
    margin-top: 2px;
    padding-top: 18px;
}
.sellerinfobox p{

}
.sellerinfobox h5{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #01034A;
    font-family: 'Poppins-SemiBold';
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sellerinfobox h6{
    display: inline-block;
    width: 100%;
    margin: 0;
    font-family: 'Poppins-Medium';
    font-size: 18px;
    color: #000000;
    margin-bottom: 15px;
}
.sellerinfobox h6 img{
    width: 33px;
    float: left;
}
.sellerinfobox h6 span{
    float: left;
    margin-top: 3px;
    margin-left: 10px;
}


.sbboxdatetime .listplacebtnbox{
    margin-top: 2px;
}

.likeiconbox{
    display: inline-block;
    position: absolute;
    right: 22px;
    top: 20px;
}
.likeiconbox a{
    display: inline-block;
}
.likeiconbox a img{
    width: 36px;
}

















