
*{
    text-decoration:none !important; 
    outline:0 !important; 
    list-style:none !important;
}

body {
    overflow-x: hidden;
    color:#2b2a2a; 
    background:#fff; 
    font-family: 'Poppins-Regular';
}

a,a:hover {transition:0.6s all !important;}

.form-control:focus {box-shadow: inherit !important; border-color:#fed307;}


@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.ttf'),
         url('../fonts/Poppins-Regular.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf'),
         url('../fonts/Poppins-Medium.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf'),
         url('../fonts/Poppins-SemiBold.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-Bold.ttf'),
         url('../fonts/Poppins-Bold.ttf');
        font-weight: normal;
        font-style: normal;
}

a.forgotPassword {
    color: #FF6600;
    font-family: 'Poppins-SemiBold';
    float: right;
}

/***** header css *****/
.headercovercl{
    display: inline-block;
    width: 100%;
    float: left;
    padding-left: 8px;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #E9E9E9;
    margin: 0;
    position: relative;
    border: 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.31);
}
.navbar-brand {
    float: left;
    height: auto;
    padding: 12px 10px 12px;
    font-size: 18px;
    line-height: 20px;
}
.headercovercl .navbar-nav li{
    padding-right: 15px;
    padding-left: 15px;
}
.headercovercl .navbar-nav li a{
    color: #000000;
    font-family: 'Poppins-Bold';
    font-size: 16px;
    padding: 15px 0 15px;
    position: relative;
}
.headercovercl .navbar-nav li.active a{
    background: #ffffff;
}
.headercovercl .navbar-nav li.active a:after{
    content: '';
    position: absolute;
    height: 4px;
    border-radius: 9px;
    width: 100%;
    bottom: -1px;
    left: 0;
    background: rgba(241,96,34,1);
    background: -moz-linear-gradient(left, rgba(241,96,34,1) 0%, rgba(227,0,95,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,96,34,1)), color-stop(100%, rgba(227,0,95,1)));
    background: -webkit-linear-gradient(left, rgba(241,96,34,1) 0%, rgba(227,0,95,1) 100%);
    background: -o-linear-gradient(left, rgba(241,96,34,1) 0%, rgba(227,0,95,1) 100%);
    background: -ms-linear-gradient(left, rgba(241,96,34,1) 0%, rgba(227,0,95,1) 100%);
    background: linear-gradient(to right, rgba(241,96,34,1) 0%, rgba(227,0,95,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16022', endColorstr='#e3005f', GradientType=1 );
}   
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #ffffff;
}
.headercovercl .navbar-nav{
    float: left;
    padding-right: 0;
    padding-top: 4px;
    margin-left: 15px;
}
.headercovercl .navbar-toggle img{
    width: 35px;
}
.headercovercl .navbar-toggle .hamburgerbtn{    
    display: none;
}
.headercovercl .navbar-toggle .hamburger_closebtn{    
    display: inline-block;
}
.navbar-toggle.collapsed .hamburgerbtn{
    display: inline-block;
}
.navbar-toggle.collapsed .hamburger_closebtn{    
    display: none;
}

.error{
    color:rgb(255, 173, 71) !important;
    font-family: 'Poppins-Regular' !important;
}

.headercovercl .navbar-brand img{
    width: 145px;
}

/***** header css *****/

.rightlsubtn{
    display: inline-block;
    float: right;
}
.rightlsubtn a{
    display: inline-block;
    color: #000000;
    font-family: 'Poppins-Bold';
    font-size: 16px;
    padding: 15px 0 15px;
    position: relative;
}
.signupbntbox{
    display: inline-block;
    margin-left: 15px;
}

a.signupbntbox{
    display: inline-block;
    background: #FF6600;
    color: #ffffff;
    padding: 0;
    padding: 5px 14px 5px;
    border-radius: 4px;
}


.iamsellerboxset{
    display: inline-block;
    width: 100%;
    background: url(../assets/images/flipquick_Im_a_seller.png);
    height: 250px;
}


.cretactbox{
    display: inline-block;
    width: 100%;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 80px;
}

.cretact_title{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.cretact_title h3{
    font-family: 'Poppins-Bold';
    margin: 0;
    color: #000000;
    font-size: 36px;
    display: inline-block;
    width: 100%
}
.cretact_title p{
    display: inline-block;
    width: 100%;
    font-family: 'Poppins-Medium';
    color: #000000;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 16px;
    margin-bottom: 0;
}

.delspselimabox{
    display: inline-block;
    width: 76%;
    text-align: left;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    border-radius: 14px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    margin-top: 28px;
}

.wrapper { 
    width: 100%; 
    margin:auto; 
    position: relative;
    display: inline-block;
}
ul.tabs { 
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #EBEBEB;
}
ul.tabs li { 
    float:left; 
    display:inline; 
    margin-right: 44px; 
    cursor:pointer; 
    font-weight:bold;  
}
ul.tabs li a { 
    width: auto; 
    text-align:center; 
    float:left;
    text-decoration:none; 
    color: #96999C;
    font-family: 'Poppins-SemiBold';
    background: transparent;
    font-size: 18px;
    position: relative;
    padding-bottom: 14px;
}
ul.tabs li a:hover, ul.tabs li a.active { 
    background: transparent;
    color:#01034A;
}
ul.tabs li a.active::after{
    content: '';
    position: absolute;
    height: 4px;
    width: 40px;
    background: #FF6600;
    left: 0;
    bottom: -2px;
    border-radius: 27px;
}
.tab_content_container {
    width:100%;
    float:left;
    background:#ffffff;
    padding:0;
    margin-top:1px;
    font-size:14px;
    border-radius:0 0 10px 10px; 
    -moz-border-radius:0 0 10px 10px; 
    -webkit-border-radius:0 0 10px 10px; 
    display:block;
    position: relative;
}
.tab_content { 
    display:none;
    width:100%; 
    overflow:auto; 
    overflow-x:hidden;
}
.tab_content_active { 
    display:block; 
    width:100%;  
}
.tab_content_active span { 
    float:left; 
    width:100px; 
    margin-right:20px; 
}


.inputcover{
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}
.inputcover .form-group{
    margin-bottom: 0;
    min-height: 114px;
}
.inputcover .form-group label{
    color: #746F81;
    font-family: 'Poppins-Regular';
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
}
.inputcover .form-group .form-control{
    border: 2px solid #EBEBEB;
    height: 48px;
    border-radius: 10px;
    font-family: 'Poppins-Medium';
    font-size: 16px;
    color: #000000;
    box-shadow: inherit;
}
.inputwidthsetbox{
    display: inline-block;
    width: 100%;
}
.inputwidthsetbox .form-group{
    display: inline-block;
    width: 50%;
    float: left;
    padding-right: 40px;
}
.inputwidthsetfull .form-group{
    display: inline-block;
    width: 100%;
    float: left;
    padding-right: 40px;
}

.inputcover .form-group .form-control::-webkit-input-placeholder {
  color: #CCC8D5;
}
.inputcover .form-group .form-control::-moz-placeholder {
  color: #CCC8D5;
}
.inputcover .form-group .form-control:-ms-input-placeholder {
  color: #CCC8D5;
}
.inputcover .form-group .form-control:-moz-placeholder {
  color: #CCC8D5;
}

.inputcover hr{
    margin-top: 0;
    margin-bottom: 34px;
    border-top: 2px solid #EBEBEB;
}


.cretactboxbtn{
    display: inline-block;
    width: 100%;
}
.cretactboxbtn a{
    background: #01034A;
    padding: 10px 26px 10px;
    font-family: 'Poppins-SemiBold';
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
}

.cretactboxbtn button{
    background: #01034A;
    padding: 10px 26px 10px;
    font-family: 'Poppins-SemiBold';
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
    border:none;
}

.actlogbntbox{
    display: inline-block;
    width: 100%;
    margin-top: 38px;
}
.actlogbntbox p{
    display: inline-block;
    color: #746F81;
    font-family: 'Poppins-Regular';
    font-size: 18px;
    margin: 0;
}
.actlogbntbox p a{
    color: #FF6600;
    font-family: 'Poppins-SemiBold';
}


.installmobapp{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-right: 40px;
    padding-top: 63px;
    padding-bottom: 14px;
}

.installmobapp img{
    width: 200px;
}
.installmobapp h3{
    display: inline-block;
    width: 100%;
    font-family: 'Poppins-Bold';
    margin: 0;
    color: #000000;
    font-size: 34px;
    margin-bottom: 12px;
    margin-top: 20px;
}
.installmobapp p{
    display: inline-block;
    width: 100%;
    color: #717171;
    font-size: 18px;
    font-family: 'Poppins-Medium';
    margin-bottom: 18px;
}
.installmobapp h6{
    display: inline-block;
    width: 100%;
    color: #C5C5C5;
    font-size: 18px;
    font-family: 'Poppins-Medium';
}


.verifemlbox{
    text-align: center;
    display: inline-block;
    width: 76%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    border-radius: 14px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 45px;
    margin-top: 28px;
}

.verifemlbox h5{
    display: inline-block;
    width: 100%;
    margin: 0;
    color: #717171;
    font-size: 20px;
    font-family: 'Poppins-Medium';
    
    line-height: 1.6;
}

.codinputbox{
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 35px;
}
.codinputbox .form-group{
    display: inline-block;
    margin: 0;
}
.codinputbox .form-group .form-control{
    border: 2px solid #EBEBEB;
    height: 56px;
    width: 56px;
    border-radius: 10px;
    font-family: 'Poppins-Medium';
    font-size: 20px;
    color: #000000;
    box-shadow: inherit;
    text-align: center;
    float: left;
    margin-left: 12px;
    margin-right: 12px;
}

.verifemlbox p{
    display: inline-block;
    width: 100%;
    font-family: 'Poppins-Medium';
    font-size: 20px;
    color: #717171;
}
.verifemlbox p a{     
    color: #FF6600;
}

.veriemailbtn{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 38px;
}
.veriemailbtn a{
    display: inline-block;
    color: #ffffff;
    font-family: 'Poppins-SemiBold';
    font-size: 16px;
    padding: 10px 22px 10px;
    background: #01034A;
    border-radius: 4px;
    min-width: 168px;
}

.veriemailbtn button{
    display: inline-block;
    color: #ffffff;
    font-family: 'Poppins-SemiBold';
    font-size: 16px;
    padding: 10px 22px 10px;
    background: #01034A;
    border-radius: 4px;
    min-width: 168px;
    border:none;
}


.pricingboxcover{
    display: inline-block;
    width: auto;
    margin-top: 36px;
    margin-bottom: 10px;
}


.radio {
  margin:0;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
    content: '';
    background: transparent;
    border-radius: 100%;
    border: 2px solid #EBEBEB;
    display: inline-block;
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 38px;
    margin-right: 0;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
    left: 92px;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #FF6600;
  box-shadow: inset 0 0 0 8px #ffffff;
}
/*.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}*/
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 8px #ffffff;
  border-color: #b4b4b4;
  background: transparent;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}


.pricingboxcover .radio{
    display: inline-block;
    width: 240px;
    height: 322px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    border-radius: 14px;
    float: left;
    margin: 0;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

.pricingboxcover .radio label{
    
}
.pricingboxiner{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.pricingboxiner h3{
    font-family: 'Poppins-Bold';
    font-size: 45px;
    margin: 0;
}
.pricingboxiner p{
    font-family: 'Poppins-Medium';
    font-size: 18px;
    color: #000000;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 23px;
}
.pricingboxiner hr{
    margin: 0;
    background: #000000;
    border: 0;
    width: 100%;
    height: 5px;
    border-radius: 10px;
}
.pricingboxiner span{
    display: inline-block;
    width: 100%;
    margin-top: 22px;
}
.pricingboxiner label{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
}

.box1{

}
.box2{

}
.box3{

}
.box1 h3{
    color: #00C160;
}
.box2 h3{
    color: #FF6600;
}
.box3 h3{
    color: #01034A;
}

.pricingboxiner.box1 hr{
    background: #00C160;
}
.pricingboxiner.box2 hr{
    background: #FF6600;
}
.pricingboxiner.box3 hr{
    background: #01034A;
}

.box2 span{
    color: #96999C;
    font-family: 'Poppins-SemiBold';
    font-size: 16px;
}

.box3 span{
    color: #00C160;
    font-family: 'Poppins-SemiBold';
    font-size: 16px;
}





.usermenuboxset{
    display: inline-block;
    position: relative;
    float: right;
}
.navbox {
    margin: 0;
    opacity: 0;
    visibility: hidden;
    background: #ffffff;
    border-radius: 6px;
    transition: .2s ease-out;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(199, 199, 199, 0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(199, 199, 199, 0.75);
    box-shadow: 0px 0px 9px 0px rgba(199, 199, 199, 0.75);
    transition: .2s;
    position: absolute;
    right: 17px;
    top: 44px;
    width: 135px;
}
.navbox a {
    text-decoration: none;
    display: block;
    padding: 12px 12px;
    text-align: left;
    color: #000000;
    font-family: 'Poppins-SemiBold';
}
.navbox a:hover {
    transition: 0.2s ease;
}
.usermenuboxset div {
    height: auto;
    margin-right: 0;
    display: inline-block;
}
.usermenuboxset #check {
    display: none;
}
.usermenuboxset #check:checked ~ .navbox {
    opacity: 1;
    visibility: visible;
    transition: .2s;
}
.usermenuboxset label {
    display: block;
    text-decoration: none;
    transition: .2s ease;
    cursor: pointer;
    font-family: 'Poppins-SemiBold';
    color: #000000;
    font-size: 15px;
    margin-top: 18px;
    display: inline-block;
    margin-right: 24px;
}

.usermenuboxset label a{
    display: block;
    text-decoration: none;
    transition: .2s ease;
    cursor: pointer;
    font-family: 'Poppins-SemiBold';
    color: #000000;
    font-size: 15px;
    margin-top: 18px;
    display: inline-block;
    margin-right: 24px;
}
.usermenuboxset label img{
    float: right;
    width: 10px;
    margin-top: 6px;
    margin-left: 7px;
}
.usermenuboxset ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}


.wondfulboxset{
    text-align: left;
    display: inline-block;
    width: 76%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    box-shadow: 0px 0px 10px 0px rgba(206,227,248,1);
    border-radius: 14px;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    margin-top: 28px;
}

.inputandcardcover{
    display: inline-block;
    width: 100%;
}

.inputandcard_left{
    display: inline-block;
    width: 50%;
    float: left;
}
.inputandcard_right{
    display: inline-block;
    width: 50%;
    float: left;
}

.custselectbox{
    display: inline-block;
    width: 100%;
    padding-right: 40px;
    min-height: 114px;
}
.custselectbox p{
    margin: 0;
    color: #746F81;
    font-family: 'Poppins-Regular';
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}

.select2-container{
    width: 100% !important;
}
.select2-container--default .select2-selection--single{
    border: 2px solid #EBEBEB !important;
    height: 48px !important;
    border-radius: 10px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 45px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    font-family: 'Poppins-Medium';
    font-size: 16px;
    color: #000000;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {   
    top: 11px !important;
    right: 10px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-width: 8px 6px 0 6px !important;
    border-color: #96999C transparent transparent transparent !important;
}

.select2-results__option{
    font-family: 'Poppins-Medium';
    font-size: 15px;
    color: #000000;
}
.select2-dropdown{
    border: 2px solid #EBEBEB !important;
    border-radius: 10px !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    font-family: 'Poppins-Medium';
    font-size: 14px;
    color: #000000;
    border-radius: 2px !important;
}


.inputandcardcover .form-group {
    margin-bottom: 0;
    min-height: 114px;
}
.inputandcardcover .form-group label {
    color: #746F81;
    font-family: 'Poppins-Regular';
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
}
.inputandcardcover .form-group .form-control {
    border: 2px solid #EBEBEB;
    height: 48px;
    border-radius: 10px;
    font-family: 'Poppins-Medium';
    font-size: 16px;
    color: #000000;
    box-shadow: inherit;
}


.inputandcardcover .form-group .form-control::-webkit-input-placeholder {
  color: #CCC8D5;
}
.inputandcardcover .form-group .form-control::-moz-placeholder {
  color: #CCC8D5;
}
.inputandcardcover .form-group .form-control:-ms-input-placeholder {
  color: #CCC8D5;
}
.inputandcardcover .form-group .form-control:-moz-placeholder {
  color: #CCC8D5;
}

.backnextbtnset{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 38px;
}
.backnextbtnset a{
    display: inline-block;
    color: #ffffff;
    font-family: 'Poppins-SemiBold';
    font-size: 16px;
    padding: 10px 22px 10px;
    background: #01034A;
    border-radius: 4px;
    min-width: 168px;
    margin-left: 14px;
    margin-right: 14px;
}











































/* media queries */
@media (max-width: 1200px){
	
}
@media (max-width: 1199px){	
    
}
@media (max-width: 1024px){
    
}
@media (max-width: 991px){
    .imgaselldealbox{
        width: 100%;
    }

}
@media (max-width: 850px){
   
}
@media (max-width: 767px){
   
    .headercovercl .navbar-nav{
        padding-top: 0;
    }
    .headercovercl{
        padding-left: 0;
    }
    .headercovercl .navbar-nav{
        width: 100%;
        text-align: left;   
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
        background-color: transparent;
    }
    .navbar-toggle{
        border: 0;
    }
    .headercovercl .navbar-nav li {
        padding-right: 0;
        padding-left: 0;
    }
    .headercovercl .navbar-collapse {
        position: absolute;
        width: 100%;
        /* height: 100%; */
        /* max-height: 100%; */
        background: #ffffff;
        border-bottom: 1px solid #E9E9E9;
        top: 0;
        /* min-height: 100%; */
        /* max-height: 100%; */
        padding-left: 0;
        border-top: 0;
        z-index: 9;
        left: 0;
        top: 71px;
    }
}
@media (max-width: 673px){
    
}
@media (max-width: 600px){
    
}
@media (max-width: 479px){
   
}
@media (max-width: 360px){
	
}
@media (max-width: 320px){
	
}
/* media queries */











